[2020-04-13 10:16] diarmidmackenzie commented on #454
Changed title to reflect that this issue is specifically about the cadence of logging, not the location data itself (tracked as another issue).

[2020-04-13 12:34] KathyReid opened #492 "Consistency of naming, and thoughts about trademarking and brand protection"
Firstly, a huge thanks to the team for your incredible efforts in getting this off the ground.

These thoughts came out of Issue #484  - where we are discussing the SafePaths brand name to make it consistent throughout the entire product. There are a few additional things the team may wish to consider;

* The domain `safepaths.org` is parked by GoDaddy. Should it be registered and delegated back t

[2020-04-13 12:37] andreanuzzo commented on #483
I can answer since I have made the translation:
[code]
"Selezona le autorita santitarie"

2 issues with text overflowing available space: in top title bar & also in the 1st text box.
Some bits that I think are dubious, but would need checking with a native Italian speaker. Maybe they are OK.```

Yeah, not sure if adding a `\n` would help in the title bar, but we could do in the text box...

[code]

[2020-04-13 12:43] KathyReid commented on #484
Thought this might help :-)

---

[code]

[2020-04-13 13:38] alpita-masurkar commented on #483
@diarmidmackenzie thank you for reviewing these and bringing this up. @andreanuzzo thank you for going through these. Will make these changes.

[2020-04-13 14:07] mediajunkie commented on #469
Will review and follow up today

[2020-04-13 14:09] mediajunkie commented on #469
re this one does Alina have a UX writer on her team? The product should have a style guide with rules to cover things like this:

[2020-04-13 14:10] timswagwalker opened #494 "Setup Issue"
I'm on MacOS, trying to set up the environment for iOS.

When trying to set up the development environment, I constantly get the following error message:
[code]
Which follows a large snippet of code (see the attached image). Maybe I'm setting it up wrong, so could I get some clarification on where to run each of the setup commands (`./dev_setup.sh`, `yarn install` and `yarn install:pod`)
<img widt

[2020-04-13 14:12] alpita-masurkar opened #495 "Missing Key in the en.json file?"
This was brought up by @diarmidmackenzie in an issue in another case https://github.com/tripleblindmarket/covid-safe-paths/issues/483

On the Exposure History page, there is some English text that goes like this:
What does this mean? Individuals who don't exhibit symptoms can sometimes still carry the infection and infect others. Being careful about...

This text is not getting translated as it is

[2020-04-13 14:15] kenpugsley commented on #495
Good catch.  Looks like we have a couple of untokenized strings.

For dev reference:  Notifications.js Lines 219-231

[2020-04-13 14:54] StartupSam commented on #457
@diarmidmackenzie I coded that screen just to get the functionality in, with the intention that the UI would be replaced along with everything else in the v2. Looks like that functionality's not yet represented in the v2 Figma design though - have pinged the design team

[2020-04-13 16:54] troach-salesforce opened #496 "Android StatusBar styles not applied when app opened from notification."
## Version

- Type of phone: Android
- OS Version: Multiple
- Model: Multiple

## Steps to reproduce

When clicking on the a Safe Paths notification in the drawer, the app opens to the LocationTracking.js view. However, the StatusBar style (light-content, transparent, translucent) set inside render does not get applied to the status bar. This. seems to be a known React Native bug, which can be wor

[2020-04-13 16:55] diarmidmackenzie commented on #463
Hi - I tested installing SafePaths alongside Private Kit.  Basic install & initial setup all works OK, and a skim test of all the function didn't throw up any issues.

I will leave Private Kit installed so that we get a bit more casual test coverage of this combination, but the evidence I have seen so far, combined with your confident assertion that the apps are completely separate and should not

[2020-04-13 18:14] troach-salesforce commented on #475
@NethravathiPuttraju I've looked a bit into this working on a separate issue #496. The flicker appears to be due to StatusBar going from transulcent = false on the settings screen, to translucent = true on the main screen. The flicker goes away if we use translucent = true in the NavigationBarWrapper. If we set to true here, we need to then create a paddingTop, as setting to translucent moves cont

[2020-04-13 19:11] lottafederico commented on #137
Hi guys, I worked a lot with BLE on iOS, if your plan is to force the iPhone to scan for peripherals this probably won't work.
The right way to use ble in this use case is to use beaconing. But  as you know iBeacon and Eddystone won't be compatible until the end of may.
The work-around is to make the iphone act both as peripheral and central. As central it should scan for devices nearby, check the

[2020-04-13 19:19] troach-salesforce opened #500 "Android - New instance brought to stack with each notification click"
## Version

- Type of phone: Android
- OS Version: All
- Model: All

## Steps to reproduce

When clicking on a Safe Paths notification from the drawer, it opens up a brand new instance of MainActivity, resulting in multiple instances of Safe Path in the stack. We could change MainActivity launchMode to singleTask so that there is only 1 instance of the application launched. Clicking on a notificat

[2020-04-13 19:44] penrods commented on #484
All text is updated to "Safe Paths" after #499.

[2020-04-13 19:48] penrods commented on #486
This is part of a forthcoming change to the Healthcare Authorities publisher.  It will include a link for "What Do I Do Now?" from that page.

[2020-04-13 19:51] penrods commented on #430
I addressed several things in #499 .  Please recheck either that PR branch or after it is merged.

[2020-04-13 19:53] penrods commented on #398
FYI:  As a simple "test" you can trigger fake overlaps by going to the About box and tapping on the people icon 4 times.  It will turn red.  Restart the app and you should see reported overlaps.

This will persist for up to 12 hours (if you have a Healthcare Authority), or you can 4-tap the icon again to toggle.

[2020-04-13 19:55] kenpugsley commented on #398
@penrods - that PR isn't in the build yet.  #437

[2020-04-13 20:06] kenpugsley commented on #463
closing per @diarmidmackenzie

[2020-04-13 20:06] #463 closed

[2020-04-13 20:09] penrods commented on #156
Each Health Authority self-declares its News source.  You don't have to subscribe to it, hence the phrase "trusted Health Authority".

When you say "we don't have to watch" do you me you as an individual?  Or "we" as in this project?  Individuals don't care about repos at all, it just shows up on their phone as an option.

[2020-04-13 20:09] penrods commented on #156
#499 removes the Haiti news from the default.

[2020-04-13 20:10] penrods commented on #156
I think this is resolved, so I'm going to close this issue out.

[2020-04-13 20:10] #156 closed

[2020-04-13 20:10] penrods commented on #462
#499 removes Haiti

[2020-04-13 20:13] kenpugsley commented on #232
Wow... it should not be doing that.  The core of Safe Paths does not connect to those sites.  My only guess is that those sites are accessed by one of the linked data (health authorities maybe).  The hardcoded Haitian authority is beng removed in #499.

We need to verify this locally to find out if this data is accurate, and the cause.

[2020-04-13 20:15] penrods commented on #445
The Mayo link on the main page provides this sort of info in a globally accepted way.  Individual authorities can provide local info.  I don't think we can do much more without crossing boundaries and limiting the ability for this to be used globally -- some countries might have different healthcare recommendations, there is not global truth.

I also disagree with your "individual first" outlook.

[2020-04-13 20:20] penrods commented on #350
Eliminating "ms" or a few decimal places is not the best way to compress data.  Going to a binary format does that -- 3 floats would be 4 bytes * 3 = 12 bytes per entry.  That's basically the cost of the json formating characters for each entry: {"": , "":, "": }

[2020-04-13 20:21] vitorpamplona commented on #137
Hi @lottafederico,

Let me know if you can help you code this. We are trying to separate the development of the BLE hacks into a react-native library: https://github.com/vitorpamplona/react-native-ble-advertiser

It does what you were saying (central and peripheral) and is seeing the Android phones.

Looking forward to hacking this thing together

[2020-04-13 20:23] troach-salesforce commented on #285
The issue is in Overlap.js where you pull the public csv dataset from here: https://raw.githubusercontent.com/beoutbreakprepared/nCoV2019/master/latest_data/latestdata.csv

This is over 50MB and is too much to be loading straight into memory. This needs to be buffered and stored somewhere without loading the entire csv into memory. This dataset is only going to get larger.

[2020-04-13 20:23] alpita-masurkar commented on #483
This issue is linked to a PR. The PR is ready with the requested review changes. It is on a hold right now. Have a look, if everything looks okay, it can be merged and this issue can be closed.

[2020-04-13 20:29] lottafederico commented on #137
Hi @vitorpamplona,
I develop MEAN Stack and native iOS (swift).
I can help you doing some experiments on the native side but I’m really new to react native I think that I can’t help on that side.
So sorry!

[2020-04-13 20:34] vitorpamplona commented on #137
Well, half of the library is Native iOS, the other half is Native Android. The 10% rest is just a bridge and a demo app inside it. :)

[2020-04-13 20:45] lottafederico commented on #137
@vitorpamplona ok I’ll take a look tomorrow!

[2020-04-13 21:29] E3V3A commented on #285
[Overlap.js](https://github.com/tripleblindmarket/covid-safe-paths/blob/e3ca1f351bb9cf0c0b78840d1188eb50278e54d4/app/views/Overlap.js)

[2020-04-13 21:44] alpita-masurkar commented on #474
Hi @diarmidmackenzie, as Ken mentioned in another issue, there were several translations before that were removed or not merged because the content in the app got changed.
The number 16 that you are referring to is based on this old version and doesn't accurately capture the current status.
If you would like me to update some documentation on the current status of the languages, I'd be happy to ad

[2020-04-13 21:52] E3V3A commented on #285
Let's see:
* each `UTF-8` char is 4 bytes
* each line can be 900+ chars
* we may have ~100 M cases by the end of next month (May).

So someone need to be able to store at least :
`4 x 900 x 100,000,000 =` **`3.6^11`** [bytes] = **327 TB**

[2020-04-13 22:06] #483 closed

[2020-04-13 22:25] E3V3A commented on #456
iOS and Android browser apps are all different and continuously updated, so there is not much point to comparing it to what your Windows Desktop browsers can handle.

Good practice would be to hard limit the URL length to something sensible, to ensure any browser can handle it. Speaking of, I think the URL is used in a POST request later, independent of browser, is it not? Or are you also talking

[2020-04-13 22:33] E3V3A commented on #454
Just to be clear. When a gps data point is logged, is it using the internal phone clock for time stamp or that of the gps signal? It sound to me that you're using the phone clock, and that processing for this depends on how busy your processor is at the time. Since most people have just about every social network app running at the same time I'm not surprised that there are random lags as to when

[2020-04-13 22:37] tstirrat commented on #69
#410 is the code change to improve the import flow:

![](https://user-images.githubusercontent.com/1267571/79078526-ee3c5b80-7cd6-11ea-8598-f6b18c60720b.png)

Lets try to get some of these UX issue fixed, but be aware that Google does not provide a nice progrmmable interface to getting this data because it is inside their account settings, so there will be some UX issues that we cannot solve.

But

[2020-04-13 22:45] E3V3A commented on #69
This look very nice!

But the mere potential, that the user has 1 GB to download, is quite a scary idea. What will happen to a lot of people is the following:

* They live in a location with poor coverage, resulting in getting only 3G or throttled 4G.
* They're on a pre-paid data plan that only have 1-4 GB/months. (Very common!)
* They have a data plan that is limited to X GB/month and anything af

[2020-04-13 22:48] dankegel commented on #69
Actual data usage if they just check location is much lower.

But yes, the wording is scary.  I wonder if there's a better interface for location history...

[2020-04-13 22:49] E3V3A commented on #69
@dankegel  What do you mean with ` just check location`?

[2020-04-13 23:01] E3V3A commented on #445
@penrods

I feel this is becoming a little bit too much (geo?) political. On the one hand you're trying to *sell* this app to all sorts of countries around the world, while on the other, you're locking yourself into something that is purely relevant to the US and all the legal BS that can occur there.

Either way, if there is something this pandemic is reminding us (with a slap in the face) every

[2020-04-13 23:06] E3V3A commented on #444
Yep, I mentioned this in #309 like this:

---

1. **`GREEN:`** - The person has either **"recovered"** or doesn't have it.
1. **`ORANGE:`** - The person has **"unknown"** status or pending test results
1. **`RED:`** - The person is **"infected"** and is under quarantine.

This should be improved upon to separate the green into 2 different results. I suggest:

1. **`BLUE:`** - The person is **"susc

[2020-04-14 01:02] sergesemashko commented on #69
well, I think we are trying to go too far in a single code change and maybe baby steps made iteratively would be a better option.

let me explain current state of import feature in `develop` branch which actually doesn't work at all:
1. IOS throws out a blob as text to the web view and nothing happens
2. filename to import is hardcoded to 2020_March.json instead of dynamically figuring which month

[2020-04-14 01:56] harshvitra commented on #17
@tremblerz @penrods

Please check if we can close this

If not what is the todo for this issue ?

[2020-04-14 02:01] tstirrat commented on #69
Yes I agree that we should get #410 merged soon, and we can improve the instructions/steps if they need more clarification

[2020-04-14 02:05] harshvitra commented on #84
@tremblerz can we have a list of expected behaviour for this

[2020-04-14 02:10] harshvitra commented on #346
Hey @carverofchoice could not run the video

But we have removed this feature completely and added new way of showing overlaps

[2020-04-14 02:10] harshvitra commented on #346
@tremblerz we can close this

[2020-04-14 02:23] harshvitra commented on #432
One possible solution is that when we check for intersection **we store the timestamp in the Local Storage**

If there is no timestamp - check entire public json
If there is timestamp - we only check values higher than the timestamp

[2020-04-14 02:32] harshvitra commented on #470
@diarmidmackenzie @tremblerz

We do have terms of use on the Legal Page.
**Under Settings > Legal > Terms of Use**

[2020-04-14 02:33] harshvitra commented on #471
Earlier the Legal page was called as Licenses and hence we had these titles over there.

But now it seems correct to shift them to About page

[2020-04-14 02:36] harshvitra commented on #484
@tremblerz lets close this one too.

[2020-04-14 04:51] #346 closed

[2020-04-14 04:52] #17 closed

[2020-04-14 06:20] diarmidmackenzie commented on #232
Heres the details from the PDF.  Can a Dev please look at these java files and determine if we can remove these?  I'm guessing these are 3rd party libraries - are we able to modify them?  Or do we have to do something else?

http:// with value http://mindprod.com in following files:
com/mindprod/ledatastream/LEDataInputStream.java:
line 7: private static final String EMBEDDED_COPYRIGHT = "copyrigh

[2020-04-14 07:20] diarmidmackenzie commented on #484
Did we fix the Splash Screen as well?

(I'm thinking that might be graphics rather than code & hence need involvement of the graphics team, and not just dev...)

[2020-04-14 07:25] diarmidmackenzie commented on #474
That info looks good - we just need to work on discoverability of it.  I'll try to do something here in terms of a set of useful links for testers.

[2020-04-14 07:29] diarmidmackenzie commented on #456
This is about the limit for a Health Authority URL.  Currently there is no limit, which is an exposure.

I am proposing 8000 chars.

Do you propose a different value?  If so, what value & why?

[2020-04-14 07:38] diarmidmackenzie commented on #470
Yes, I agree we do have it in that location,  Maybe I didn't express my concern clearly.

It says "by using this ap you have read these terms etc..."

However a user can make use of the app without even finding these terms.  What I normally see in apps is a flow where you cannot use the app unless you have explicitly consented to the Terms.

I don't have expertise in this area, and happy to defer

[2020-04-14 08:05] tremblerz commented on #470
Important to defer this one to an expert, but my understanding is that when the User performs on-boarding, they essentially "sign up" and hence should be agreeing to the terms and conditions right there, especially that data is being logged.

[2020-04-14 08:09] tremblerz commented on #484
Splash screen needs to be updated, nice catch @diarmidmackenzie

[2020-04-14 08:14] tremblerz opened #509 "Infected person will get notifications for all the days after their data is released"
Infected person will get notifications for all the days after their data is released since they are intersecting with themselves all the time in the location history.

[2020-04-14 08:34] diarmidmackenzie commented on #470
With the current initial setup flow, there is nothing that I saw as a user that gave me an impression I was "signing up" to any set of Terms.

[2020-04-14 09:37] NethravathiPuttraju commented on #475
@troach-salesforce  Okay.. So, have you resolved this issue and raised PR?

[2020-04-14 10:08] alpita-masurkar commented on #474
Perfect! Let me know how I can help or if you want to move this document somewhere.
Once there's a resolution on how to move forward with this, we can close this issue.

[2020-04-14 11:47] alpita-masurkar commented on #435
Hi @khairu-aqsara, yes that'd be great! You can start adding translation now.
One thing to remember- the name Safe Paths does not change to it's meaning in local languages since it is the identity of this app.

Are you also on our slack channel?

[2020-04-14 12:23] alpita-masurkar commented on #468
Ok sounds good... have updated the new translation document to reflect some of these things. Does the App Store/ Playstore description for the app currently auto-translate our English description?

[2020-04-14 13:29] harshvitra commented on #19
#118  is closed, we need someone to rework on this maybe

@penrods what would be priority for this one ?

[2020-04-14 14:45] troach-salesforce commented on #496
Work has been merged, closing.

[2020-04-14 14:45] #496 closed

[2020-04-14 14:45] troach-salesforce commented on #500
Work has been merged, closing.

[2020-04-14 14:45] #500 closed

[2020-04-14 14:51] troach-salesforce commented on #475
I have not resolved it. If we go with the solution I outlined above, we would need to calculate the proper paddingTop size to set. 24 would work in most cases, but we need to be mindful of notched Android devices where the status bar size may be different. I can try to do some testing today. While the flicker doesn't look great, it only lasts for a split second and probably shouldn't block more pe

[2020-04-14 14:53] diarmidmackenzie commented on #475
Agree - the flicker makes the app look a little unpolished, but if it's not an easy fix, there are definitely other things that we should prioritize over this.

[2020-04-14 16:31] #495 closed

[2020-04-14 16:37] ismail00b commented on #494
you have to run this command and the issue will be solved
sudo xcode-select --switch /Applications/Xcode.app

[2020-04-14 17:28] lottafederico commented on #137
@vitorpamplona I took a look at the code. If I understood you aim to use a central to scan for devices with a particular service and then get the "id" of the peripheral using its "peripheral name" without actually creating a connection. How are you going to handle background mode and app killed?

[2020-04-14 18:24] mediajunkie commented on #469
Discussed with Kristen from comms and of course this is not an MVP blocker just yet but here is where we got to:

- use "health authority" and not "healthcare authority"
- trusted is ok because presumably things are not added to the global registry without some sort of vetting (is that a legit assumption), and it might be worth providing a way for the user to "find out more" about why these source

[2020-04-14 18:41] diarmidmackenzie commented on #232
Some more digging on these rogue HTTP links (c&p from what I wrote on Slack):

I'm stretching outside my area of expertise here, but I don't like being defeated by things like this...
4 of these come from react-native-share

https://github.com/react-native-community/react-native-share
What do we use this for?  I am guessing it's for the "Share location history"?  Correct?  My view is that there is

[2020-04-14 19:23] diarmidmackenzie commented on #509
I think we have logic to calculate how long the user spent in contact with another user?

That logic presumably works even if both users are moving around?

If so, then I think that logic ought to compute a 336 hour continuous contact.  It ought to be possible to spot that and drop it out of the report?

That said, it's not obvious to me that a diagnosed user will use the app beyond pushing their

[2020-04-14 19:54] E3V3A commented on #137
Ok, great and insightful, but

* What's the current status of this?

* Who's working on this, and who is doing what exactly?

Last time I asked, I was told that the BLE code was pulled out or disabled. So?

[2020-04-14 20:04] lottafederico commented on #137
@E3V3A,
Actually I’m not doing anything, I just comment on this thread because I worked on ble in several iOS projects and I think that there will be some issues that will need some kind of work around to make it work.
Personally I think that will be hard to reach a very good result but maybe just a good result in enough at the moment.
Apple and Google are working to make this available because at

[2020-04-14 20:19] summetj commented on #149
Can this issue be closed now?

[2020-04-14 20:30] summetj commented on #477
I agree that more rapid progress is desirable but do not feel that this issue report is the appropriate place to advocate on these issues.

[2020-04-14 20:31] micksabox commented on #149
Started working on this but didn't finish. Saw another issue with a similar description, so this might be duplicated somewhere.

[2020-04-14 20:34] summetj commented on #476
Much productive non-developer work is happening on Slack which can not also be moved to GitHub. Having developers on Slack allows communication with other roles in the project. (which is much larger than just the codebase).

[2020-04-14 20:40] summetj commented on #494
timswagwalker please close the issue if the above resolved it for you.

[2020-04-14 20:50] diarmidmackenzie opened #516 "CONCERN: Relative rather than absolute time risks missing overlaps"
I think this might be a bug, but that depends on the exact algorithms we use for collision detection, and I don't actually know what those are   I would appreciate review from someone who knows the implementation better.

Perhaps our collision detection algorithm is sophisticated enough to avoid this kind of problem?
(Do we have documentation of our collision algorithm?)

A and B meet for a walk.

[2020-04-15 05:21] diarmidmackenzie commented on #509
I've realized that data redaction that may have been applied to the public data set means we can't rely on matching the trail 100%.

[2020-04-15 05:27] diarmidmackenzie commented on #509
Will this actually be an ongoing problem?

One you are diagnosed, upload your data and work the the HA on redaction and publication, do you go on pulishing further location data?

My guess is that at that point you sel-isolate at home, having minimal contact with anyone, and no longer moving around the community.

And therefore there would be no value in pushing further data about your movements u

[2020-04-15 05:39] timswagwalker commented on #494
That worked! Thanks

[2020-04-15 05:39] #494 closed

[2020-04-15 05:47] saranyaharidas commented on #314
@alpita-masurkar : will do the translation for Malayalam in new app

[2020-04-15 08:39] diarmidmackenzie commented on #325
(following some discussion with @penrods about exactly how large the datasets will be - see full details here:
https://covidsafepaths.slack.com/archives/C0105AC9ZBM/p1586891663010700)

I don't much like binary data solutions for APIs.  Yes they save data, but they harm testability and diagnosability a lot.
I'd prefer zipping the files, over a binary data format.  That seems to give a 10x reduction

[2020-04-15 08:42] diarmidmackenzie commented on #325
Other key points:
* @penrods says OK to the proposal.
* but priority is not yet clear - for very first deployments, we will probably be OK on scale without this.
* changing client + server after deployment adds complexity, but will be manageable for a small number of deployments.
* we're having discussions with Service Providers about free data for this service.

[2020-04-15 08:43] khairu-aqsara commented on #435
thank you @alpita-masurkar,
in Bahasa/Indonesian language there is no special local script for `Safe Paths` name,
I think using `Safe Paths` as a name still more easier to understand.

[2020-04-15 10:09] E3V3A opened #520 "Discussion: Why contribute to a project that will not benefit anyone?"
When I first found this project, it was while looking for useful contract tracing solutions. That was now nearly a month ago, and it sounded very sane and promising at that time. I was thinking that it would be great to help contributing to such a thing. However, since then, essentially nothing good has come out of this project, apart from a large number of other very talented people coming out of

[2020-04-15 11:33] alpita-masurkar commented on #314
Hey @saranyaharidas
Thank you for letting me know, will update it in the translation doc.Let me know when you create a PR
- Alpita

[2020-04-15 11:35] alpita-masurkar commented on #435
Ok. that sounds good. Will look forward to your PR

[2020-04-15 12:46] summetj commented on #520
Thank you for considering using your talents to assist this project.
We have determined that (at least within the US, which is our first target for beta rollouts) the local health departments are a key client and enabler of solutions. (Technology can not solve all problems on it's own, and we are focusing on assisting the local health authorities do the full contact tracing procedure.)  Privacy fo

[2020-04-15 13:25] E3V3A commented on #520
@summetj
Thanks for trying to explain.

They are a little busy these times, and in most contries they don't have the extra manpower nor technical knowledge to support a brand new (and relatively poorly documented)  IT project, that involve obtaining, configuring and maintaining, any amount of technological infrastructure.

Your *very first release* was on the 6th of March, which is 19 useless rele

[2020-04-15 13:53] summetj commented on #484
Safe Paths (with a space), splash screen icon will need to be updated.

[2020-04-15 14:08] E3V3A commented on #325
Related issue #285 with other calc's.

Data need to be separated both by date, and into smaller map pieces, as is done when loading any Google map (on a slow) connection.

[2020-04-15 14:56] mediajunkie opened #522 "Top priority translations (Haitian Kweyol and Vietnamese)"
@kenpugsley:

(from Khahlil)

[fwdpriorityapptranslation.zip](https://github.com/tripleblindmarket/covid-safe-paths/files/4481938/fwdpriorityapptranslation.zip)

"done by EOW if possible" per Sam Z.

[2020-04-15 16:38] #439 closed

[2020-04-15 18:12] #471 closed

[2020-04-15 18:19] troach-salesforce opened #523 "Android doesn't resume location tracking on restart"
## Version

- Type of phone: Android
- OS Version: 10 (Assume most devices)
- Model: Pixel 3a (Assume most devices)

## Steps to reproduce

Restart the device, location tracking does not resume until the app is manually opened.

## Expected Behavior

When I restart the device, location tracking should resume in the background without requiring the user to open Safe Paths

## Research

This appears

[2020-04-15 18:31] troach-salesforce commented on #523
I'll take this task if an admin wants to add me as the assignee.

[2020-04-15 20:23] troach-sf opened #527 "Android location saving after restart part 2"
Safe Paths is not saving locations after device restart until the app is opened. Part 1 of the issue was here: https://github.com/tripleblindmarket/covid-safe-paths/issues/523. There was a react library bug that prevented the geolocation service from restarting upon a phone reboot.

This issue is for part 2, which is that the Safe Paths geolocation listener no longer exists after a device restart.

[2020-04-15 20:28] troach-salesforce commented on #527
Async-Storage database. App installed, device restarted shortly after opening. 1 location saved.

[code]

react-native-background-geolocation database. Same scenario as above with 2 additional locations tracked after restart.

[code]

[2020-04-15 22:08] diarmidmackenzie commented on #473
Just a note on impact - I am now running Private Kit+ Safe Paths together, and my notifications tray is almost unusable because both of these are in it, non-dismissable, and blocking me from seeing other notifications.

If I was not working on the product I would be deleting at least one of them!

[2020-04-15 23:29] kenpugsley opened #528 "Settings does not show on iOS 12.0"
The settings icon / action does not show on the LocationTracking screen in iOS 12.0 (only the 12.0.x versions, all other versions seem to be OK)

COVID Safe Paths v0.9.2 (probably earlier, probably later as well)

- Type of phone: iPhone
- OS Version: 12.0
- Model: all models

## Steps to reproduce

On macOS with recent xcode installed you can get this to happen in the simulator.  `npx react-nativ

[2020-04-16 04:10] Patrick-Erichsen commented on #425
@penrods @tstirrat any updates on a proposed schema for the GPS bounding box of a Healthcare Authority?

 I'm planning on implementing an `isPointInRegion()` function that can be used to check if a user's GPS history has any points that are within the bounding box of an HCA, but without the schema for that bounding box, I can't get started.

[2020-04-16 04:30] Krish023 commented on #528
I can look into this issue. Please assign it to me.

[2020-04-16 05:08] Krish023 commented on #528
Hi,

I have checked on iPhone 8 with ios 12.1. But I can see the settings button. Could you please specify the iPhone model with the
<img width="559" alt="Screenshot 2020-04-16 at 10 37 51 AM" src="https://user-images.githubusercontent.com/503055/79416899-699b5700-7fce-11ea-857d-2a667fe73615.png">
OS version.

Thanks,
Krishna

[2020-04-16 05:14] tremblerz commented on #528
It only fails with the ios 12.0 apparently

[2020-04-16 05:19] DavidSReich commented on #520
I'm new to this project ... so not trying to "defend" it yet.
I recently joined the Xerobase project, too.  It's an app-less solution.
Since I'm a native iOS dev there's not much I can do on either project right now.
I worked on the Auspost DigitalID app when it was at the very beginning.  It had similar issues of functioning in a vacuum at the beginning.

Apps are "easy" and just the tip of the i

[2020-04-16 05:21] Krish023 commented on #528
Thanks @tremblerz I will look at it.

[2020-04-16 07:54] saranyaharidas commented on #314
Hey @alpita-masurkar , PR is raised for malayalam language

[link](https://github.com/tripleblindmarket/covid-safe-paths/pull/531)

[2020-04-16 13:28] troach-salesforce commented on #523
Fix merged. Closing

[2020-04-16 13:28] #523 closed

[2020-04-16 13:35] ArchanaNair opened #535 "Enhancement for Map in full screen mode"
# Submitting an Issue

When submitting an Issue against Privte Kit, please follow these guidelines to help us help you.

## Version

- Type of phone: Android / iPhone
- OS Version:
- Model: e.g. Samsung Galaxy S8

## Steps to reproduce

Be as detailed as possible

## Expected Behavior

Example:

- When I click `Stop Logging` I am taken to the `Import` screen. Expect to
  go back to the Welcome gre

[2020-04-16 13:41] ArchanaNair commented on #535
UI Enhancement of Map in full screen #365 which was closed due to rework in UI, creating new task. Please assign it on my name.
Task completed , PR raised:
https://github.com/PrivateKit/private-kit/pull/12

[2020-04-16 13:44] ArchanaNair commented on #535
duplicate issue

[2020-04-16 13:44] #535 closed

[2020-04-16 13:46] ArchanaNair commented on #365
New PR raised for this after updation in latest UI,
PR No:
https://github.com/PrivateKit/private-kit/pull/12

[2020-04-16 13:53] danoszz opened #536 "Update Dutch Translation"
## Description

Update the Dutch translation to the new [locale format](https://github.com/tripleblindmarket/covid-safe-paths/tree/develop/app/locales).

## Motivation

In PR https://github.com/tripleblindmarket/covid-safe-paths/pull/310, a redo of the Dutch translations was [requested](https://github.com/tripleblindmarket/covid-safe-paths/pull/310#issuecomment-611904883).

## Assignment

I will h

[2020-04-16 14:26] NethravathiPuttraju commented on #461
I can look into this..

[2020-04-16 14:32] DenisPitcher commented on #150
Has a git file been identified that contains the health authority list?

[2020-04-16 14:38] DenisPitcher commented on #425
How would someone actually update the healthcare-authorities.yaml file to add an authority?

[2020-04-16 15:15] rx commented on #70
Apple only stores non-personally identifiable data on their servers.
https://support.apple.com/en-us/HT207056 & https://www.apple.com/privacy/

Waze does provides a download of personal data: https://support.google.com/waze/answer/9002354?hl=en
I couldn't find more current market share data than 2018, but [waze had more market share ](https://themanifest.com/mobile-apps/popularity-google-maps-tren

[2020-04-16 18:40] tremblerz commented on #425
Do you think we should just generate Geohashes on both sides?

[2020-04-16 19:24] penrods commented on #425
@tremblerz, this is really a bounding box so keeping it in distinct lat/lon is useful.  Pseudo-code is:
[code]

I'm proposing the following YAML format:
[code]

I don't love the length of the "bounds" line, but that is easily copy/pasted, as opposed to:

[code]
Which has the same structure, just formatted differently visually.

[2020-04-16 20:25] diarmidmackenzie opened #543 "Unable to install v0.9.3 or v0.9.4 APKs on Android."
# Submitting an Issue

When submitting an Issue against Privte Kit, please follow these guidelines to help us help you.

## Version

Android 9
Motorola g7

## Steps to reproduce

Delete previous versions of Safe Paths (0.9.2)
Download v0.9.3 or v0.9.4 APK
Attempt installation.

v0.9.3 installation fails with message "App not installed"

v0.9.4 installation tiggers a pop-up: Blocked by Play Protect

[2020-04-16 20:35] troach-salesforce commented on #527
I plan on making a few fundamental changes I have discussed with my team, and I want to make sure the solution is agreed upon by key stakeholders.

Current Location Tracking:
1. Locations are Stored in Async-Storage, while also being retained but unused in react-native-background-geolocation sqlite database.
2. If there are gaps in data, backfilled locations are applied if possible. Once these bac

[2020-04-16 20:45] tstirrat commented on #527
+1 on using data that is already there and more accurate.
+1 on not merging raw data sources so that we know where data came from

Will give final decision to @tremblerz but I support this.

[2020-04-16 20:46] #314 closed

[2020-04-16 21:03] tremblerz commented on #527
Definitely like the idea of not merging Google's takeout data right away. Especially given that it could come either from Google Places or Google Location history.
Actions to be performed during export is also a great idea.
One question -
1. There was some discussion that we only wanna store the geolocation data in an encrypted format even on device, will db be a good idea in that case as we can't

[2020-04-16 21:05] Patrick-Erichsen commented on #425
I think that the bounds are essentially just a single piece of info as well, so it makes sense to keep it as a single field. It would be weird to break out the URL above into something like
[code]

[2020-04-16 21:09] E3V3A commented on #325
Thanks to the project by @mundanelunacy at  [covidmaps](https://github.com/mundanelunacy/covidmaps) he made me aware of a firbase project that can be used to download only selected gis data, so maybe this could help?

* https://github.com/codediodeio/geofirex

[2020-04-16 22:38] kenpugsley commented on #543
Please retry the updated apk on 0.9.4.  I think it should now be signed correctly to include older android versions.  Once I hear from you that it fixes the issue, I'll rebuild 0.9.3

[2020-04-16 23:52] kenpugsley commented on #543
I've gone ahead and updated the apk on 0.9.3 as well.  Tested the updated 0.9.4 apk on a device with android 6 and seems to install OK for me now.  Let me know how it goes for you.

[2020-04-17 03:01] Patrick-Erichsen commented on #425
I noticed that in our async storage for the `LOCATION_DATA` key, the location objects use the full words `latitude` and `longitude`, e.g.

[code]

I'd like to propose we use the same naming convention for the bounding box schema as well.

[2020-04-17 05:35] prasad79 commented on #543
**Android** OS: 8.0
**Device**: Samsung Galaxy A3

Installation works fine if you do a clean install. i.e. uninstall 0.9.3 and install the new version.
Locally saved data would be lost though.

### Logs when updating version 0.9.3 to 0.9.4:

[2020-04-17 05:45] penrods commented on #425
Fine with me, consistency is a good thing -- although I prefer the shorter version and which I'd taken the time to convert it back in the day of a month ago.  :)

[2020-04-17 08:03] NethravathiPuttraju commented on #461
I have tested this issue. I found that , when i click on "Add trusted source" all the 3 entries populate once without any delay. May i know in which OS version and device your facing this issue.

[2020-04-17 08:38] diarmidmackenzie commented on #543
Strangely I still couldn't install the new v0.9.4 on my phone.

Everything previously installed had been uninstalled.  Still insall fails in the same way.  Seems like the failed installs that I did have somehow got my phone into a state where it can't install the App.

On Android 9, Moto G7 power.

However, I moved to a 2nd account on my phone.  (actually the primary account; why was I using a sec

[2020-04-17 09:01] diarmidmackenzie opened #547 ""Exposure history" seems confusing when there is no data populated"
## Version

- Android 9
- Motorola G7 power

## Steps to reproduce

Install app.  Set up a Health Authority to point to my location.

Like this, but with my lat & long:
http://diarmidmackenzie.pythonanywhere.com/infection-data?longitude=1&latitude=2

Navigate to Exposure History tab

![image](https://user-images.githubusercontent.com/16045703/79551492-037c0600-809a-11ea-9e2c-cfef1c3fcbb9.png)

All

[2020-04-17 09:04] diarmidmackenzie opened #548 "Is it COVID19 or COVID-19?"
Seen on v0.9.4, with Android 9 on Moto G7.

WIthin the space of a single screen, we refer to the disease by 2 different names:

COVID19 and COVID-19.

Please can we be consistent on all screens throughout the app?  (COVID-19, with the dash, is what I'd expect, but happy with either as long as we are consistent).

-->
![image](https://user-images.githubusercontent.com/16045703/79552163-f3185b00-809

[2020-04-17 09:20] diarmidmackenzie commented on #547
Further note, although I did set up an A by URL,

The access logs logs at the python annywhere server show that the app is still not hitting the server.

Therefore #430 still broken, and the app behaviour is totally unrelated to any data that the HA URL might be serving.

[2020-04-17 09:21] diarmidmackenzie commented on #430
At v0.9.4 this is still not working.  Still not seeing any HTTP requests in the server access logs.  Therefore data is not even being requested (still).

[2020-04-17 09:36] diarmidmackenzie commented on #461
Yes, I agree at v0.9.4, this is immediate, even on the 1st time after a re-install of the app (which was when I could repro this before).

This appears to be fixed.

[2020-04-17 09:54] NethravathiPuttraju commented on #461
Okay.. Then can we close this Issue?

[2020-04-17 11:42] NethravathiPuttraju commented on #548
I can make it consistent on all the screens .

[2020-04-17 11:52] sergesemashko commented on #73
Shall location rather be store with Start and end timestamps to reduce amount of logged data?

[2020-04-17 16:19] anigasan commented on #547
I don't see any dates in my installed app:
![Screenshot_20200417-121217_COVID Safe Paths](https://user-images.githubusercontent.com/29756847/79590852-ad14c480-80a5-11ea-90c2-aa4770529476.jpg)

[2020-04-17 16:38] penrods commented on #516
We account for this.  We compare using windows of time and space -- you must be within a 4 hour window and also within a 20m window.

So this is not a problem.

[2020-04-17 16:43] diarmidmackenzie commented on #516
Thanks - is the algorithm documeented somewhere?  (if not I will find a place to document).

And is there any story about how it was derived?  Why 20m?  Why 4 hours.

(I thought I had read 70m somewhere, but maybe misremembered).

Is that +/-4 hours, or +/-2 hours?  or is the interval asymetric?  (not much point in matching an hour before the infected person there, but potentially value in matchin

[2020-04-17 18:17] #548 closed

[2020-04-17 20:25] anigasan commented on #449
I am facing this issue when I tried with Samsung Note 8. I don't see any import button after Google Takeout Export

[2020-04-17 20:36] anigasan commented on #543
I had an issue earlier on Galaxy Note 8 (Android 9) and rebooted after deleting earlier releases. It installed without any issue.

[2020-04-17 21:05] troach-sf commented on #527
Unfinished and not tested, but updating this ticket with info on where the work is being done. I'll be done with this ticket by end of day monday.

https://github.com/safe-paths-contrib/covid-safe-paths/tree/feature/sqlite-location-tracking

[2020-04-17 21:30] diarmidmackenzie commented on #547
Are you running v0.9.4?
Did you add a Health Authority?

With ,me that was enough to get the calendar view.

Then after adding the HA, restart the app, and that produced the 14 green days.

[2020-04-17 22:12] kenpugsley commented on #468
Moving this out to the release following v1.0, as there's a certain amount of uncertainty about when to translate the app name (do we do it for all languages, only pictogram based texts, never?), as well as some technical challenges that are not so straightforward, especially on iOS, for doing this in a scalable way.

Once we've implemented a non-manual translation framework, we should be able to

[2020-04-17 22:26] diarmidmackenzie commented on #516
Steve, with the algorithm you describe, I think this problem will exist.

B is never observed within 20m of 0m, 500m, 1000m.

A is never observed within 20m of 200m, 700m, 1200m.

If I understand your algorithm correctly, then there will be no point at which a collision is detected.

Don't seem to have permissions to re-open, but I am unconvinced that we don't have a problem here.

[2020-04-18 01:44] meekg33k opened #561 "Update text on Settings screen/button"
## Version

- Type of phone: Android / iPhone

## Current Text

![text-change-1](https://user-images.githubusercontent.com/14355147/79624860-96886080-80d9-11ea-8dba-c4a459995a0e.png)

![text-change-2](https://user-images.githubusercontent.com/14355147/79624862-9b4d1480-80d9-11ea-8dd1-c7d0b0c9ef38.png)

## Expected Change
- Update text on screen from "_to be informed of exposures you need to subscr

[2020-04-18 02:28] #484 closed

[2020-04-18 05:31] prasad79 commented on #543
- did the signing keys change between 0.9.3 to 0.9.4 versions?
- On google play store select -> enable **App Signing by Google Play**
- Close this issue, as future releases should not have this issue once the signing keys are fixed or **App Signing by Google Play** is enabled

[2020-04-18 06:17] Mr-EZG commented on #509
On this topic, maybe we can introduce a counter variable per application? Or boolean to essentially mark the user as infected and not send them notifications for 14-20 days after marking when they were diagnosed? Or rather send notifications to ask if/when they recovered? (To potentially apply an automatic or manual reset to "healthy") However, continue their option to share their data as before?

[2020-04-18 06:23] diarmidmackenzie opened #563 "Pivacy concern. Not possible to install Safe Paths on multiple accounts on the same phone - I guess because we are not storing data in a per-user location."
I think this merits some consideration.

Some info on the use cases for multiple user accounts.
https://www.guidingtech.com/android-multiple-users-feature/

I'm not sure there's actually a hard requirement to be able to install the app on multiple accounts.   That seems niche.  But I suspect that the problem is caused because we are storing app data in a location that is not user-specific.  And I

[2020-04-18 06:31] diarmidmackenzie commented on #563
OK - here's a relevant use case, which merits consideration in the long run.

In the short term, I'm only concerned about the Privacy issues flagged above.

Teen breaks phone
Teen wants to go out at night.  Parent not happy for Teen to go out without a phone.
Parent lends Teen phone.  Parents does not want Teen to have access to their account, so creates a 2nd account for Teen on the phone.
Family

[2020-04-18 06:41] diarmidmackenzie commented on #563
On a related note we should think about communications on this topic.

When e.g. Ramesh talks about privacy, the focus is on "the daat doesn't leave your phone".  That covers Privacy from the authorities.

But will that messaging resonate with someone who shares a phone with someone else?  Probably not?  Should we be ore careful to cover "the data does not leave your account, on your phone" to bri

[2020-04-18 09:29] penrods commented on #561
The terminology is sometimes quirky right now, but there are reasons.  This will be modified based on requirements of the various stores and healthcare authorities as we negotiate that processs.

[2020-04-18 09:29] #561 closed

[2020-04-18 09:31] penrods commented on #563
This application does assume the most common use case -- a phone is associated with an individual.  Automated background operation with multiple individuals is basically impossible.  If you have specific suggestions to make it possible, it would be appreciated.  But I don't see this as solvable.

[2020-04-18 09:32] #522 closed

[2020-04-18 09:36] penrods commented on #520
I appreciate your interest in this project and the input you have provided.  If this does not seem to be aligned with your personal beliefs and goals, I wish you the best of luck.  But please do not post inflammatory issues such as this which have nothing which can not be addressed by the software.  I am also frustrated by the global situation and the speed at which governments move, but it is wha

[2020-04-18 09:36] #520 closed

[2020-04-18 09:38] #477 closed

[2020-04-18 09:38] #476 closed

[2020-04-18 09:42] penrods commented on #470
The common behavior with the App stores is that you install at your own will.  No normal application does this, and this application has almost no with outside servers by design.  Placing some arbitrary "Agree to Terms of Use" screen will just discourage use.

[2020-04-18 09:43] penrods commented on #470
Unless some provides real reason to require terms in the next couple of days, this should be closed.

[2020-04-18 09:44] #462 closed

[2020-04-18 09:44] #461 closed

[2020-04-18 09:46] penrods commented on #394
Addressed now.   Closing.

[2020-04-18 09:46] #394 closed

[2020-04-18 09:46] penrods commented on #365
Maps are no longer part of Safe Places.

[2020-04-18 09:46] #365 closed

[2020-04-18 09:48] penrods commented on #418
This is not in the spirit of this application, IMHO.  This is a contact tracing solution, not "COVID radar".  Achieving the above and retaining privacy is likely not possible or practical.  Just self quarantine!

[2020-04-18 09:48] #344 closed

[2020-04-18 09:49] penrods commented on #339
No longer part of Safe Paths.

[2020-04-18 09:49] #339 closed

[2020-04-18 09:49] penrods commented on #338
No longer part of Safe Paths.

[2020-04-18 09:49] #338 closed

[2020-04-18 09:49] penrods commented on #319
Is this still true?  I believe this was addressed.

[2020-04-18 09:50] penrods commented on #313
No longer part of Safe Paths.

[2020-04-18 09:50] #313 closed

[2020-04-18 09:50] penrods commented on #316
No longer part of Safe Paths.

[2020-04-18 09:50] #316 closed

[2020-04-18 09:51] penrods commented on #301
This can be done via the Health Authority in HTML.

[2020-04-18 09:51] #301 closed

[2020-04-18 09:52] penrods commented on #273
I do not believe Google services are required in any way since removing the map.  Please start a new issue if this is not true.

[2020-04-18 09:52] #273 closed

[2020-04-18 09:52] penrods commented on #264
No longer part of Safe Paths.

[2020-04-18 09:52] #264 closed

[2020-04-18 09:52] penrods commented on #221
Addressed

[2020-04-18 09:52] #221 closed

[2020-04-18 09:53] penrods commented on #235
No longer part of Safe Paths.

[2020-04-18 09:53] #235 closed

[2020-04-18 09:54] penrods commented on #191
Potential contact information is provided now in the Exposure History.

[2020-04-18 09:54] #191 closed

[2020-04-18 09:54] #167 closed

[2020-04-18 09:55] penrods commented on #182
I believe this is fixed now.  Please reopen if not.

[2020-04-18 09:55] #182 closed

[2020-04-18 09:55] #155 closed

[2020-04-18 09:56] #150 closed

[2020-04-18 09:56] penrods commented on #140
Intersection is now performed in background.

[2020-04-18 09:56] #140 closed

[2020-04-18 09:57] #84 closed

[2020-04-18 09:57] penrods commented on #50
Still an issue?

[2020-04-18 10:04] summetj commented on #543
Closing issue.

[2020-04-18 10:04] #543 closed

[2020-04-18 10:13] summetj commented on #563
Moving the data store to the user's account location (as opposed to global phone storage location) for privacy protections (in the case of encrypted user storage as opposed to full phone encryption) might be worthwhile in the short term.

I don't know enough about the android multi-user-accounts model to know if switching from one user account to a different one will automatically close down an ap

[2020-04-18 10:25] summetj commented on #418
Agreed. Also, the potential for abuse (someone self setting their status to infected just to enjoy watching people gasp at their phone's notifications as they walk by) is immense.  Our model is that the health authority is the only entity who has the ability to determine that an individual is infected and upload data for identifying potential exposures.

[2020-04-18 10:25] #418 closed

[2020-04-18 10:30] summetj commented on #319
Yes, tested that the app will correctly resume logging under the above scenario on android.

[2020-04-18 10:30] #319 closed

[2020-04-18 10:47] diarmidmackenzie commented on #563
I would say with a multi-user account, the desirable behaviiour on switching accounts is to shut down & stop logging location info on the 1st account & start on the 2nd.

See example above about a Teen borrowing Parent's phone to go out.

If the Teen is later infected, we want to share the Teen's movements.  If the Parent is infected the Parent's movements.

We are using phones as proxies for peop

[2020-04-18 10:50] summetj opened #564 "Confusing notification text on "stop logging" action"
## Version 0.5.19 private kit from play store, verified exists in development code as well.

- Type of phone: Android
- OS Version: 9
- Model: Moto X4

## Steps to reproduce

Tap settings icon in top left to get to the dashboard
Tap the "stop logging" button.

Notification text reads: "Location tracking was Disabled" (good) followed by "PrivateKit requires location services" (technically true, but

[2020-04-18 10:58] summetj commented on #50
Yes lack of notification is still an issue on android. When running and logging in background, if locations permission is removed, there is no notification. (However, if the app is manually re-started, it detects that it needs to ask for location access again and goes through the "getting started" flow.)

[2020-04-18 15:54] meekg33k commented on #561
@penrods, this was a requirement from a board member. Sam Zimmerman will have more details, you might want to check in with him before marking this as closed.

[2020-04-18 16:31] AdamLeonSmith commented on #398
I am touch with a startup that uses ML to generate synthetic data from seed data, and they have confirmed this should be realistic and represent the geo data from mobiles.

Is this needed?  If so, is there a way to import files of location data in google history format, or only privkit format?  The former would be a more end to end set of testing if possible, the latter would I assume only be usef

[2020-04-18 18:27] diarmidmackenzie commented on #398
Hi Adam!  In theory there are 2 ways to import data into the system:
- You can import google location data into the Safe Paths App.
- You can import a data export from the Safe Paths App into Safe Places Server.

If we get the data in in google format, it'll be tedious to have to use the app to manually convert it.  Possibly we could extract the relevant code from the App into a tool, but I don't

[2020-04-18 18:31] diarmidmackenzie commented on #543
It turned out the issues I was having installing the app (other than the signing ithing) were in fact #563

[2020-04-18 18:34] AdamLeonSmith commented on #398
OK.  So I think we should focus on PrivKit bulk data to prove Safe Places processing.  Do we have any seed data that be used to generate synthetic data?  I have my own data only.

[2020-04-18 18:35] diarmidmackenzie commented on #264
@penrods I don't understand - yes the UI is no longer part of the app, but GPS leaping about is still a potential issue, is it not?

Understand we can't do anything about the data we get back tom the GPS hardware, but we might need to look at mitigation in software for these bumps, or adjustment of matching algorithms to accommodate.

[2020-04-18 18:39] diarmidmackenzie commented on #398
I reinstall the app too often to have any data history.  It'd just be me at home anyway.

You could:
- install 0.9.2, download your location history from google, import then export
- ask on #testing and on #app_dev on slack whether anyone has any data.

I'm not aware of anyone having archived any data, but some people have probably had the app stable installed & recording location for a while now.

[2020-04-18 18:43] diarmidmackenzie commented on #449
This whole area is being reimplemented from scratch after #410 so lets leave for now & come back when #410 is done.

[2020-04-18 19:25] anigasan commented on #449
OK, Let us keep this thread open!!

[2020-04-18 19:28] anigasan commented on #547
Yes, it is v0.9.4 and also added two HAs (Example and Mairie de PAP/MSSP)!

It tried restarting the app and also tried rebooting the device. Still not getting calendar view  :)

[2020-04-18 19:59] Patrick-Erichsen commented on #425
So for the second bullet:

[code]

The way I was going to implement that was through an `Alert` that would use the react-navigate `navigation` prop to direct a user to the `ChooseProvider` screen.

However, the [`checkIntersect()`](https://github.com/tripleblindmarket/covid-safe-paths/blob/develop/app/helpers/Intersect.js#L213) function, which is the method that runs every 12 hours and should perf

[2020-04-18 21:04] kenpugsley commented on #430
I do not see this in my local testing.  I see the requests hitting my servers.  When I come back up for air from #529 I can try and take a look.  @tremblerz are you able to look at this sooner than me?

[2020-04-18 21:32] tremblerz commented on #430
I am gonna add eula thing for now and will come back on this afterwards

[2020-04-18 22:46] #423 closed

[2020-04-18 23:50] Patrick-Erichsen commented on #425
So I have a couple of UI/UX questions for point 2 of this ticket:

- Should the "popup" be a push notification? Or just an in-app Alert?
- For the 24 hour check, how should we go about de-coupling that from the `checkIntersect()` function (currently the only function that executes from `BackgroundTaskServices.start()`)?  Maybe just create another static method on that class? This implementation wi

[2020-04-19 00:55] tstirrat commented on #425
@kenpugsley is working on a refactor of intersections code in #529 so check with him on that.

re UX, I'd say for now, an in app notify. @tremblerz what do you think?

[2020-04-19 02:36] penrods commented on #425
I think you should continue to poll even if the user has their first authority.  Here are several use cases:
* The user is subscribed to their home city authority.  They visit a new city.  They should be prompted to subscribe to new city.
* A city, such as Kansas City, straddles multiple healthcare authorities -- county/state lines dictate jurisdictions.  The bounding box of the counties can encom

[2020-04-19 07:45] AdamLeonSmith opened #570 "Can't import my google location history"
## Version

- Type of phone: Android
- OS Version: Andorid 10
- Model: e.g.  Pixel 3a

## Steps to reproduce
Download google location history
Close app
Reopen app

## Expected Behavior
Location history is imported

## Actual Behaviour
Exception is visible on primary app scren in yellow.  Exception is in full below from logcatW ReactNativeJS: Can't open url: intent:#Intent;package=com.google.androi

[2020-04-19 10:12] AdamLeonSmith commented on #570
Note that my google location history contains more than 1.7 million data points going back years...  This may be related.

[2020-04-19 17:15] Patrick-Erichsen commented on #425
Okay, so I can update the 12-hour check to trigger an in-app notify anytime that the user is in the bounds of an HCA they haven't subscribed to yet.

I'm not sure how to store a notification and trigger it once a user opens the app so I'll have to do some research for that.

[2020-04-19 17:57] aartiverma1 commented on #473
A Detailed Analysis : The persistent notification is required by Android foreground services.
When BackgroundGeolocation.start() was executed, the Android SDK would launch a foreground-service (along with its required persistent notification). The foreground-service would remain running with its persistent notification until BackgroundGeolocation.stop() was executed. So we can't get rid of persist

[2020-04-19 18:04] aartiverma1 commented on #564
I can start looking this issue.

[2020-04-19 18:14] tremblerz commented on #564
yes please

[2020-04-19 18:30] diarmidmackenzie commented on #325
This is probably true for performance (the context in which it was said).

For privacy I think it does matter a lot.

E.g. if all user 1's data is first, then all user2's etc. then it's trivial to correlaqte a set of movements together as one group, and that might make it a lot easier to de-anonymize.

I guess this is really input for Safe Places - will raise something over there.  Wanted to add a

[2020-04-20 03:56] Patrick-Erichsen opened #588 "Missing Step In Onboarding - Add A Healthcare Authority"
## Version

- Type of phone: N/A
- OS Version: N/A
- Model: N/A

## Steps to reproduce

Right now the onboarding process does not include the screens to add a Healthcare Authority.

Walkthrough the onboarding process and you will not be directed to a screen that allows you to add a Healthcare Authority

## Expected Behavior

When going through the onboarding process, after enabling location servic

[2020-04-20 04:53] kenpugsley opened #589 "Implement a good way to mock tests with timezone and DST dependencies"
Pure tech debt item.  We have a few unit tests (notably LocationService.spec.js and ExposureHistory.spec.js) that must mock the current datetime, but are sensitive to the timezone and daylight savings time.  We need to come up with a good solution for unit testing the edge cases around these tests, as well as ensuring that the tests don't have any lurking system time / timezone sensitivity.

[2020-04-20 05:32] #69 closed

[2020-04-20 05:32] #77 closed

[2020-04-20 05:36] #468 closed

[2020-04-20 05:54] saranyaharidas commented on #588
I can look into this one.

[2020-04-20 05:54] penrods commented on #425
I think githack can support once every 12 hours for quite a while.  If it gets to be too much, we can easily add logic to save state and only do it every-other time.

As for the Choose Provider screen, I think just bringing it up from the Notification would be fine.  I do believe we will need to implement a default filter by region very quickly on the Add button.  Picking from 2 isn't bad, but pic

[2020-04-20 06:12] Krish023 commented on #528
Hi @tremblerz, It's the issue with the Library (react-native-svg). We can do an action but image is not visible. I have tried with image data and working fine. Should we use Image data instead of svg?
<img width="556" alt="Screenshot 2020-04-20 at 11 23 18 AM" src="https://user-images.githubusercontent.com/503055/79719226-b9925a80-82fb-11ea-8450-56f5bccf4a05.png">
<img width="556" alt="Screenshot

[2020-04-20 06:31] matteocrippa commented on #70
No public api for sure for that, there's something as private... but app will be rejected by reviewers.
One option can be using, as a starter point, the [Visits Location](https://developer.apple.com/documentation/corelocation/getting_the_user_s_location/using_the_visits_location_service)

[2020-04-20 09:55] penrods commented on #563
I've honestly never heard of this capability.  Is this common?  How does one do it?  In a brief search I couldn't find the capability on my Samsung (which often diverges from stock Android, I do realize).

[2020-04-20 10:30] alpita-masurkar commented on #536
Hi @danoszz, how is this pr progressing? do you have any new updates on this?

[2020-04-20 11:11] penrods commented on #325
Correct, I just meant that the intersection code can consume points sent to it in any order and it will continue to work correctly.

[2020-04-20 11:41] diarmidmackenzie commented on #563
Been available since Android 5.0.  Function is pretty much the same as you have with multiple users on e.g. Windows.

Some links here:
https://www.androidcentral.com/lollipop-brings-proper-multi-user-accounts-your-phone
https://www.guidingtech.com/android-multiple-users-feature/

I don't have any data on prevalence - I will ask around to see if anyone knows where to get such info.

I didn't intent

[2020-04-20 11:43] diarmidmackenzie commented on #563
![Screenshot_20200420-134124](https://user-images.githubusercontent.com/16045703/79747995-eac75680-830c-11ea-97dd-529d20c6c6ce.png)

Where is it?  In settings see the little blue person/face at the bottom

[2020-04-20 11:44] penrods commented on #516
The distance was approx 70' previously, but has been switched to 20m (65') in the latest round of code.  Yes, this is somewhat arbitrary, but is based on the accuracy of a standard geohash, which at one time appeared to be a likely approach for encryption.  So I went with that number.

The 4 hour window is also somewhat arbitrary, but was based on some information about the survival of the virus o

[2020-04-20 11:51] danoszz commented on #536
@alpita-masurkar on it right now! Making a PR any moment. It took some extra time because the translation was read by a couple of other native Dutch speakers in various age categories.

[2020-04-20 11:57] alpita-masurkar commented on #536
that's awesome @danoszz will have a look at the PR!

[2020-04-20 12:00] danoszz commented on #536
@alpita-masurkar I see it fails on the recently added translations. Let me quickly add those and make a new PR.

[code]

[2020-04-20 12:46] diarmidmackenzie commented on #516
Steve - thanks for the info.

Coming back on the 4 hour window: I'd expect an asymmetric algorithm there, since you can't pick up COVID from an infected person if you go to a place *before* they do).

So:
- 5 mins *before* (just to cover timestamp inaccuracy)
- Up to 4 hours after.

On the specific concern I was trying to capture here, I think you may have missed the point.  This is not about peop

[2020-04-20 13:32] summetj commented on #588
Sounds good. Could this be a decision to omit initially until we have more healthcare authorities onboard to pick from? It is likely that a random person installing the app may not have an appropriate health authority to pick initially.

[2020-04-20 14:36] danoszz commented on #570
@AdamLeonSmith thanks for addressing this issue. Did you export your data with Google Takeout and the following settings?

 1. Delivery method: "Add to Drive"
2. Frequency: "Export once"
3. File type & size: ".zip" and "1GB"

[2020-04-20 15:55] diarmidmackenzie commented on #430
Is anyone lookign at this?  I'm concerned that ken says this was working for him - I'm worried it might have been something about my setup causing problems.  Available to collaborate on this in ay way that would help...

[2020-04-20 16:16] #536 closed

[2020-04-20 17:47] danoszz commented on #570
After a chat on with @AdamLeonSmith to breakdown the problem, I could recreate this issue on iOS V0.5.19.

Here's the reproduction video:

Screenshot of the error | Steps to get this error
--- | ---
![IMG_4C31F748D9CB-1](https://user-images.githubusercontent.com/14123926/79782401-4f9ba480-833f-11ea-9a0a-a7350dde3812.jpeg) | ![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/14

[2020-04-20 17:56] AdamLeonSmith commented on #570
I just tested this on develop (2aa0dea277d63e4f29b402702f50c8a598660946) and it works fine!

[2020-04-20 17:56] #570 closed

[2020-04-20 22:36] darkerthanblackoff opened #594 "BUG: App crashes on Nederlands localization choosing"
- Type of phone: Android
- OS Version: 10
- Model: Xiaomi mi 8 Lite

## Steps to reproduce

Choose Nederland localization on Onboarding or in settings, open settings.

![VK-4jIfBBfo](https://user-images.githubusercontent.com/42576152/79806021-21828880-8370-11ea-83cb-8e3dbcdcdd9a.jpg)
![s-jU7wh4RUc](https://user-images.githubusercontent.com/42576152/79806060-352def00-8370-11ea-8b58-ff40d7a331c6.jpg

[2020-04-21 00:32] #594 closed

[2020-04-21 04:07] tremblerz opened #602 "User is not notified if location is not enabled after onboarding"
## Version
- Model: Pixel 3 API 29

## Steps to reproduce

Turn the location off and install the App. Even though the app gets permission to "log all the time" during onboarding it never turns it on. User has to explicitly turn it on by going to settings or in the notification drawer

[2020-04-21 04:32] tremblerz opened #603 "Unknown status (due to location permission disabled) disappears on clicking on Settings"
## Version

- Model: Pixel 3 API 29

## Steps to reproduce

Install the app, onboard like a nice person and then go to settings, disable the location permissions to the App. Go back to the App, you will see "Unknown status" and then tap on settings, dashboard appears which shows Location active (**Shouldn't be**) and you go back it shows standard "No known contact"

## Expected Behavior

Tapping o

[2020-04-21 07:04] tremblerz opened #605 "Add scrollable view on Import Location"
The buttons are not visible on the screen as the text has occupied the majority portion
## Version

- Model: iPhone 6s ios 13.4

## Steps to reproduce

Use Import feature on a small screen.

## Expected Behavior

The view should be scrollable

[2020-04-21 10:29] alpita-masurkar commented on #435
We've already merged the PR related to this. I'm closing this issue.

[2020-04-21 10:29] #435 closed

[2020-04-21 10:50] vedhakannan opened #606 "Text cropped on top for all 3 intro screens on android app"
## Version : 0.9.5

- Type of phone: Android
- OS Version: 9
- Model: e.g. Moto G6 plus

## Steps to reproduce

- Click on the app icon and move to the intro screens.

- All three intro screens have the text cropped on top.

[2020-04-21 10:55] vedhakannan opened #607 "Green icon on the "No known contact " screen"
## 0.9.5

- Type of phone: Android
- OS Version: 9
- Model: e.g. Moto g6 plus

## Steps to reproduce

1. Click on the installed safe paths app.
2. Get started and give location access
3. Once the user lands on "No known contacts" screen

*## Expected Behavior**
Grey icon to be displayed

actual behaviour:
Green icon is displayed. Attaching screenshot for reference.

![greenicon](https://user-image

[2020-04-21 11:04] vedhakannan opened #608 "Red icon appears for a second before load of "No known contacts" page"
## Version 0.9.5

- Type of phone: Android
- OS Version: 9
- Model: e.g. Moto g6 plus

## Steps to reproduce
Click on the installed safe paths app.
Get started and give location access
Once the user lands on "No known contacts" screen

## Expected Behavior
Once the user lands on "No known contacts" screen

Actual behavior
Flikker of page appears with a red icon , for a second

[2020-04-21 11:19] diarmidmackenzie opened #609 "Possible to make dashbboard display the wrong language name."
## Version

v9.5
Android 9, Motog G7

## Steps to reproduce

Start with an English Language install
In dashoard change settings to Italiano.  Language says Italiano.  Words in Italian.  Good.
Now change settigns back to English.  Language says English.  Words in English.  Good.
Now hit back, then follow link to Dashboard again.  Language says Italiano.  Words in English.  Good.  This is a bug.

##

[2020-04-21 11:21] diarmidmackenzie commented on #609
A further problem: having reached this state, if I enter the system and choose "Italiano" the text still remains in English.

I can only get to Italian by changing to a different language, and then back to Italiano.

[2020-04-21 11:46] sergesemashko commented on #605
I can take a look at this

[2020-04-21 12:02] denispapakul commented on #608
I can look into this issue

[2020-04-21 12:24] Shreya050695 opened #610 "Text cropped on top for all 3 intro screens on IOS app"
![IMG-4517](https://user-images.githubusercontent.com/64080646/79865601-0a3bad80-83f9-11ea-9185-8f3a5da50bcf.PNG)
![IMG-4518](https://user-images.githubusercontent.com/64080646/79865605-0d369e00-83f9-11ea-92dc-ccc532489f33.PNG)
![IMG-4519](https://user-images.githubusercontent.com/64080646/79865609-0f98f800-83f9-11ea-81f8-32dd8a0e388c.PNG)

## Version 0.9.5

Type of phone: IOS
IOS Version: 13.3
Mo

[2020-04-21 12:27] shilpashendre commented on #603
I can start working on this issue.

[2020-04-21 12:30] ShreyaaSahu opened #611 "1 and 2nd screen present in the ios app"
## Version 0.9.5

Type of phone: IOS
IOS Version: 13.3
Model: e.g. iPhone XR

## Steps to reproduce

1. First Launch : click on App Icon
2. App will move the user to all the 3 intro screens.

![IMG-4517](https://user-images.githubusercontent.com/64080646/79866017-c006fc00-83f9-11ea-86e2-2b04220e7d27.PNG)
![IMG-4518](https://user-images.githubusercontent.com/64080646/79866026-c4331980-83f9-11ea-94e

[2020-04-21 12:32] ShreyaaSahu opened #612 "No Known Contact / No Data match Screen - Issues"
## Version 0.9.5

- Type of phone: iPhone
- OS Version: 13.3
- Model: e.g. iPhone XR

## Steps to reproduce

1. Click on App icon
2. tap on "get started "
3. set the location
4. tap on " Finished Setup "
5. next screen will be the " No Known Contact " with green check sign.
6. displaying "Based on available data you haven't been near anyone reported positive for COVID-19. "

![IMG-4520](https://us

[2020-04-21 13:23] vedhakannan opened #613 "new button seen below the "visit google take out" button on "import locations page""
![Motog6plus](https://user-images.githubusercontent.com/63336927/79898186-7386e500-8428-11ea-8315-f32057414762.jpeg)

## Version

- Type of phone: Android
- OS Version: 9
- Model: Moto g6 plus

## Steps to reproduce
On click of Google maps -> "Import past locations"

Attaching screen shot for reference (5.7 inch screen size)

Actual :
Extra button seen below "visit google take out" but unable to s

[2020-04-21 16:43] alpita-masurkar commented on #610
similar to #606 ?

[2020-04-21 17:07] diarmidmackenzie commented on #613
I have a G7 - I can see the IMPORT LOCATIONS button below VISIT GOOGLE TAKEOUT, enough to clic on, but it still goes beyond the bottom of the screen.

[2020-04-21 18:55] #299 closed

[2020-04-21 19:36] tremblerz commented on #449
Can folks start testing it again please

[2020-04-21 19:42] tremblerz opened #615 "News does not load up on the first time sometimes"
## Version

- Model: iPhone 6s iOS 13.4

## Steps to reproduce

Reproducing is a bit inconsistent but it has happened sufficient number of times to assume the bug does exist.
Install the app, go to the latest news
It just remains stuck on loading
Press back and go to the latest news again
This time it loads up right away

## Expected Behavior

The News should get loaded in the first pass and shoul

[2020-04-21 20:03] diarmidmackenzie commented on #449
This is not working for me.  v0.9.5 Android 9 Moto G7.

I can get the TAKEOUT (UX is improved).

Then I go to IMPORT LOCATIONS, navigate to the file on Drive or Local files (tried both).  I see a file called takeou-202...., 164kB in size.

I select it, and immediately return to the "Import Locations" screen.  No indication whether it has succeeded or failed - which is a poor UX - I'd expect an ind

[2020-04-21 22:11] diarmidmackenzie commented on #430
I'm interested to know what the UX is supposed to be if you mistype a URL, or if you have no intenet connetcivity (e.g. airplane mode on) when you set up the HA.

It would be greeat to get feedback whether the HA had been contactable (especially for typos).

As it is, you just enter any string, and it goes on the list and you never get any feedback whether it was mistyped, whether data is download

[2020-04-21 23:02] ilonadynska commented on #606
This issue applies also on other localisation (e.g. Italian, Polish) so seems replicable on all.
Tested on:
- Samsung A50 - 9.0
- Samsung S10 - 10.0

![Screenshot_20200422-005233_COVID Safe Paths](https://user-images.githubusercontent.com/59801345/79922887-b353c980-8434-11ea-9374-758b312dabd0.jpg)
![Screenshot_20200421-235920_COVID Safe Paths](https://user-images.githubusercontent.com/59801345/799

[2020-04-21 23:07] kenpugsley commented on #430
I'd like to treat the UX issues here as a separate issue.  I'll try to dig in tonight and see if I can replicate what's going on.  I should be able to tell if I'm getting data from your server or not.  Will update here.

[2020-04-21 23:15] ilonadynska opened #617 "[Home] Misplaced ripple effect"
## Version - 0.9.5

- Type of phone: Android
- OS Version: 9.0, 10.0
- Model: Samsung A50, Samsung Galaxy S10

## Steps to reproduce

1. Complete onboarding procedure
2. Reach the home

## Expected Behavior

The ripple effect should be centered in the center of the icon.
Instead it results a bit shifted down.
The issue applies to each language.

![Screenshot_20200422-002152_COVID Safe Paths](https

[2020-04-21 23:33] ilonadynska opened #618 "[Choose health authority] - View title not fully visible"
## Version - 0.9.5

- Type of phone: Android
- OS Version: 9.0, 10.0
- Model: Samsung A50, Samsung Galaxy S10

## Steps to reproduce
1. From home tap the right top setting button
2. Tap on Choose health authority

Applies to following languages:
- Spanish
- French
- Italian
- Dutch
- Polish
- Russian

## Expected Behavior

Title should be fully visible.

![Screenshot_20200422-002247_COVID Safe Pat

[2020-04-21 23:36] ilonadynska commented on #618
@tstirrat can we make the font smaller or fit the space (or truncate) or we should involve each translator to modify the text and (if possible) make it shorter?

[2020-04-21 23:37] ilonadynska opened #620 "[Choose health authority] - White background table"
## Version - 0.9.5

- Type of phone: Android
- OS Version: 9.0, 10.0
- Model: Samsung A50, Samsung Galaxy S10

## Steps to reproduce
1. From home tap the right top setting button
2. Tap on Choose health authority

Applies to all the languages.

## Expected Behavior

Background behind 'No data source yet' lable should be the same of the view.

![Screenshot_20200422-002247_COVID Safe Paths](https://

[2020-04-21 23:41] darkerthanblackoff commented on #617
Also appears on XIAOMI MI 8 Lite, so it's not device specific problem.

[2020-04-22 00:04] ilonadynska opened #621 "[Exposure history] - Legend below calender not fully visible"
## Version 0.9.5

- Type of phone: Android
- OS Version: 9.0, 10.0
- Model: Samsung A50, Samsung Galaxy S10

## Steps to reproduce
1. From home tap the right top setting button
2. Tap on Exposure history

Affected languages:

- Polish
- Italian
- Indonesian
- Dutch
- Slovak

## Expected Behavior
The legend below the calendar should be fully readable.

![Screenshot_20200422-000606_COVID Safe Paths]

[2020-04-22 00:07] ilonadynska commented on #617
Seems instead the Motorola G6 Plus works fine looking at the screen in #607

[2020-04-22 02:30] NethravathiPuttraju commented on #620
I can look into this.

[2020-04-22 02:49] NethravathiPuttraju commented on #618
I can look into this. @tstirrat  can you give your suggestions .

[2020-04-22 03:47] maher1719 commented on #50
Maybe we can find the location with the network tower id who provide mobile signals and check the id with remote tower database

[2020-04-22 05:15] kenpugsley commented on #430
OK... so plenty of egg on face here.  As far as I can tell, the app should be downloading data correctly (though I can't explain why you don't see the hits in your logs).  When I run the app in both the Android and iOS simulators I can see that the data is indeed being downloaded.

However, there are a couple of problems to deal with:

**Problem 1:**  Your web service (http://diarmidmackenzie.pyth

[2020-04-22 05:31] saranyaharidas commented on #615
will check this one

[2020-04-22 06:49] saranyaharidas commented on #606
will check this one

[2020-04-22 06:56] ArchanaNair commented on #607
Will check this

[2020-04-22 07:41] diarmidmackenzie commented on #430
OK - server updated to new format.  I hope this is now correct?

http://diarmidmackenzie.pythonanywhere.com/infection-data?longitude=1&latitude=2

However I still don't seem to be able to reach it (and still not seeing any access logs).  Does this now work with your app & my server?

Some questions & requests:
1. Should I include http:// when I enter the URL or not?  If it matters, please can we v

[2020-04-22 07:46] ShreyaaSahu opened #622 "App content isn't coming in desired language which was selected in the dropdown"
## Version

- Type of phone: iPhone
- OS Version: 13.3
- Model: iPhone XR

-App Version 0.9.5

## Steps to reproduce

1.Launch the App for first time
2. Screen  open "The way back to normal starts here"
3.Tap on "English"
4. Select any other language . e.g. Espanol
5.Now again tap on "Espanol" (Language dropdown)
6.Select English again.
7. Close the app without clicking on "Get Started"
8.Now rela

[2020-04-22 08:09] vedhakannan opened #623 "Language selection shows default language on return to app"
## Version

- Type of phone: Android
- OS Version: 9
- Model: Moto g6 plus

## Steps to reproduce

- Load app change language to italiano
- quit app before getting onboarded

## Expected Behavior
On return back the language selected should should show italiano and also page should be in italiano.

Actual
- Language selected shows as english but the page appears in italiano

![Languageselector](htt

[2020-04-22 08:11] Niniya173 commented on #622
Same issue is identified when I tested in IOS, for me in the first page only 2 different languages are seen, when language was changed from English to some other and back to English.

![image](https://user-images.githubusercontent.com/64129755/79957230-e29f2080-849e-11ea-8238-a62ed8e36795.png)

[2020-04-22 09:25] denispapakul commented on #621
I'll look into this issue

[2020-04-22 10:12] saranyaharidas commented on #610
@alpita-masurkar : looks like this and #606 are similar.  check the below PR
[PR](https://github.com/tripleblindmarket/covid-safe-paths/pull/627)

[2020-04-22 13:24] samikhalildev opened #629 "Missing documentation for adding background-geolocation environment variable"
## Version

- Type of phone: Android

## Steps to reproduce
I realised this was missing in the documentation when I was trying to run the application for android.

### Configure background-geolocation SDK
Create a file named ```local.properties``` in /android directory with an environment variable pointing to the android SDK:
* For windows add: ```sdk.dir = C:\\Users\\USERNAME\\AppData\\Local\\And

[2020-04-22 15:00] kenpugsley commented on #430
Yes, it appears to work for me now.  Structure looks correct, and I'm able to use it to cause a the "you may be exposed" to happen for me with my location.

This I 'm still puzzled by.  If you've not tried this already, can you do a share of your export history and open the file.  Take the most recent lat/lon, and use that in the url for your test health authority.  Make sure you match to least 4

[2020-04-22 15:25] vedhakannan opened #632 "Issue with Italian translation"
Tested on
Sony Xperia XZ1 - Android 9.0, Samsung Galaxy S4 - Android 10.0, Sony Xperia X - Android 9.0

## Steps to reproduce
After clicking "incominciamo", the sentence "knowledge is power" appears. It should be translated in Italian (to maintain consistency with the other pages).

The expected translation is: sapere è potere

https://www.jotform.com/uploads/AppQuality/201096241235345/46321401268

[2020-04-22 15:37] summetj commented on #603
https://github.com/tripleblindmarket/covid-safe-paths/pull/631

[2020-04-22 15:54] vedhakannan opened #633 "Latest news : Appears in english, even when language is selected as italian"
Issue :  The whole latest news section appears in english.

## Version : 0.9.5

- Type of phone: Android
- OS Version: 10
- Model: Samsung Galaxy Note 10+

## Actual behaviour

In   "latest news" - "ultime novità" section: The whole section  about the new is in English. Suggested translations below:
 The header   "No updates" --> Nessuna notizia.

 "There are no news items   at this time, please c

[2020-04-22 16:30] brunaevaldt commented on #449
This is not working for me either. v. 0.5.19 IOS 13.3.1 iPhone Xr

I also have 2 google accounts on my device, but when I got the Google take out screen, I logged in with the primary one.

* I tap on the top right menu
* Tap on the button "Import past locations"
* After I login and tried a couple of times to export my location history, I see the download options:

![IMG_1693](https://user-images.g

[2020-04-22 16:33] kenpugsley commented on #449
@brunaevaldt that appears to be from Private Kit.  Private Kit has been split of, and it now located here:  https://github.com/PrivateKit/private-kit

[2020-04-22 16:49] brunaevaldt commented on #449
@kenpugsley I followed the onboard e-mail, where we are asked go to the [website](https://covidsafepaths.org/) and install the [app](https://apps.apple.com/us/app/private-kit-prototype/id1501903733). Is this the correct link to install the app? or did I miss something?

[2020-04-22 17:13] vedhakannan opened #634 "Exposure history :No Data and No known texts moving out of the screen in italian"
Issue 1 : No Data and No known texts moving out of the screen in italian

## Version

Galaxy   Note 10+ - Android 10 and Moto g6 plus

Actual :
No Data and No known words  in exposure history ,moving out of the screen in italian

In   "storico delle esposizioni" section (exposure history): the legend (the words:no exposure, possible exposure, nessun dato) below the calendar is too large, the words

[2020-04-22 17:36] vedhakannan opened #635 "Typos in italian language translation"
Error on   the transcription of the phrase "don't worry" in italian language.   You have written

Actual :
non preoccupati

 Expected : "non pre occuparti".

https://www.jotform.com/uploads/AppQuality/201096241235345/4631995838174799450/photo_2020-04-20_15-26-35.jpg

Issue 2 in translation :
 all subtitles are different from each other (e.g. some have the dot at the end and others don't)

Expected

[2020-04-22 17:37] matteocrippa commented on #632
@vedhakannan will take care of that in an upcoming PR

[2020-04-22 17:47] matteocrippa commented on #635
@vedhakannan It's correct `non preoccuparti` that literally means `don't worry`.
The suggested fix is wrong becase in italians means something like `don't start to take care of`.

[2020-04-22 17:48] vedhakannan opened #636 "Below mentioned words not been translated to Italian"
Below mentioned words not been translated to Italian
## Version : 0.9.5

- Type of phone: Android
- OS Version: 9
- Model: Moto g6 plus

## Steps to reproduce

Below mentioned texts are not translated to italian :
Dashboard   > "Ultime novità" section > autorità "sanitarie"   and not "sanitare"
 
Dashboard > Informazioni   > Missione section > "l'interazione" and not   "l'intereazione"
 
Dashboard

[2020-04-22 17:52] matteocrippa commented on #636
@vedhakannan would you mind reformat the message and provide further details, eg. what's the version of the app?

[2020-04-22 17:53] matteocrippa commented on #634
duplicate of #621

[2020-04-22 17:55] matteocrippa commented on #633
Can you format the request according to the template provided and check first if the issue was not raised already + test against the latest version of the app?

[2020-04-22 18:39] vedhakannan commented on #634
Closing this since its duplicate of 621

[2020-04-22 18:39] #634 closed

[2020-04-22 18:51] vedhakannan commented on #636
updated the issue as per "version 0.9.5"

[2020-04-22 18:51] summetj commented on #449
That is the app currently in the app store, but not the latest development apk which should be installed from github.

(The welcome email is directed to everyone, including developers, so we ask them to install the latest "app-store" released application).

For testing/development, you probably want to be using the latest release found under the "releases" in github here:
https://github.com/triple

[2020-04-22 19:08] summetj commented on #633
The latest  release is 0.9.5 which can be found here: https://github.com/tripleblindmarket/covid-safe-paths/releases  (only a few days out of date)

Otherwise, to get closer to development branch you would have to follow the directions at https://github.com/tripleblindmarket/covid-safe-paths/blob/develop/README.md to set up a full developer environment.

[2020-04-22 19:36] matteocrippa commented on #633
@summetj doubt was more that the information above are coming from the one that is in the store, because some are not replicate as far as I see.

@vedhakannan the content you are referring to are coming from an external web page that is not localizable from within the app.

Also it applies, for the reason above, to all the language and this will need extra rework somewhere else.

@alpita-masurkar

[2020-04-22 19:37] matteocrippa commented on #636
This applies to all the language as far the description is not localizable and the TOS is a link to a static resource.

[2020-04-22 19:39] matteocrippa commented on #635
Fixed in the meanwhile the formatting of the title/subtitle with #626

[2020-04-22 20:14] #606 closed

[2020-04-22 20:14] #610 closed

[2020-04-22 23:35] Mr-EZG commented on #456
Currently, I am going to attempt to create a working version where the url would fall into the 8000 char limit and reference a general open-source regex pattern for the url before trying to send it.

Source of regex pattern (Non Http protocol): https://stackoverflow.com/questions/3809401/what-is-a-good-regular-expression-to-match-a-url
Currently, I am trying to use the non-http protocol out of giv

[2020-04-23 02:17] sergesemashko commented on #73
I'm going to take a look at this issue

[2020-04-23 02:40] #605 closed

[2020-04-23 06:15] #528 closed

[2020-04-23 07:04] ArchanaNair commented on #607
@vedhakannan @summetj As per MVP, the current UI behaviour is correct for 'No known contact'.  Please confirm if any changes required.

[2020-04-23 07:59] NethravathiPuttraju commented on #618
Can anyone give suggestion which solution will be better , reducing the font or truncate the text..

[2020-04-23 10:12] shilpashendre commented on #602
I can start looking this issue.

[2020-04-23 11:46] ShreyaaSahu opened #645 "On Clicking "Latest News " - Error 404 is displaying"
## Version

- Type of phone: iPhone
- OS Version: 13.3
- Model: iPhone XR

## Steps to reproduce

1. Open the App
2.click on Hamburger Option on top-right of screen
3.click on "Latest News" option .

![MicrosoftTeams-image](https://user-images.githubusercontent.com/64080646/80095799-2c166b00-8586-11ea-9c9d-71c23efd1f4d.png)

[2020-04-23 12:01] ShreyaaSahu opened #646 "After User Inactive the Location in menu , App is still showing green instead of red in " No Data Match screen ""
## Version

- Type of phone: iPhone
- OS Version: ios 13.3
- Model: iPhone XR

## Steps to reproduce

1.Open the App
2.Click on Hamburger Menu Option
3.Location is already Active
4.Go back to "No Data Match / No Known Contact Screen"
5.Screen will display with green
6. Click on "Location Inactive" - first option on the top of Menu in Hamburger Menu Option
7.Go back to "No Data Match / No Known Con

[2020-04-23 15:21] tstirrat commented on #618
@alpita-masurkar and @penrods will probably have thoughts here. Thanks for checking

[2020-04-23 17:08] Krish023 commented on #646
Can you please assign it to me. I will look at this issue.

[2020-04-23 17:10] Krish023 commented on #646
Hi, @ShreyaaSahu is this issue only on iOS?

[2020-04-23 18:47] kenpugsley commented on #457
To pile on ... on iPhone the add authority by URL doesn't work because the keyboard covers up the string being entered.
![12521A8A-5945-45FB-8524-92B9A5AA8285_1_105_c](https://user-images.githubusercontent.com/4031514/80137518-05960700-8569-11ea-8668-842ba8b78ba7.jpeg)

[2020-04-23 20:52] diarmidmackenzie commented on #430
OK - one problem I was having is that the prefix has to be https://

Not http://
Not HTTPS://
Not Https://

My phone kept auto-correcting https:// to one of the last 2.

I don't think that's been the only problem - but it's been the most recent one.  Now all working!

[2020-04-23 21:52] diarmidmackenzie commented on #430
@kenpugsley Do you want to keep this open to track all the UX issues we spotted?

Or shall we close & spin up more to cover.

Key points:
- Enforce correct URL form.  Ideally accept various capitalizations of http / https, but at the very least don't permit ones that don't work.
- Give clear error handling in the event a URL is unreachable.
- DIagnostics indication number of own location data poin

[2020-04-23 22:32] elviraux opened #652 "Enable app force upgrade in v1"
on IOS and Android

[2020-04-24 01:39] tremblerz opened #656 "Repeated notification when location disabled due to redundant checks"
## Version

- Type of phone: Android / iPhone
- OS Version:
- Model: iPhone 11 (simulator)

## Steps to reproduce

Go to Settings, turn off location
1. You get notification
2. now you pull the notification drawer and swipe on notification to get rid of it
3. Drawer closes and the app comes in foreground and another notification gets triggered
4. Go to 2.

## Expected Behavior

Any event should gen

[2020-04-24 04:50] arvind-source commented on #623
I can start looking at this issue.

[2020-04-24 05:26] #652 closed

[2020-04-24 06:20] eyganeshv commented on #656
I will check this issue. We need detail clarification on this issue.

[2020-04-24 06:22] ShreyaaSahu commented on #607
@ArchanaNair In MVP there is a dialog box stating that it should be grey instead of green
![Screenshot (5599)](https://user-images.githubusercontent.com/64080646/80181217-09399480-8622-11ea-989e-a2d4d1c920d8.png)
.

[2020-04-24 06:45] ShreyaaSahu commented on #646
hi , @Krish023 this issue is also in Android .

[2020-04-24 08:04] ArchanaNair commented on #612
This is linked with issue #607, I am working on it. Please assign it to me.

[2020-04-24 08:19] aartiverma1 commented on #623
Assign this to me.

[2020-04-24 09:03] diarmidmackenzie commented on #609
Experience with further testing is that this problem is very easy to hit,and hard to then get out of - the wrong language ends up being listed most of the times that you change language on the App.

[2020-04-24 09:15] diarmidmackenzie commented on #617
Moto G7 has an off center ripple too.  The G7 has a longer screen than the G6.

[2020-04-24 09:57] summetj commented on #656
@eyganeshv , post questions you have about this issue here and we will do our best to address them.

[2020-04-24 12:02] AdamLeonSmith opened #672 "Errors importing Google Location History"
Testing on the develop branch, when importing a google takeout zip the log file is full of errors:

[INFO] Attempting to open file "file:///data/user/0/org.pathcheck.covidsafepaths/cache/Takeout-2020-04-24T11:54:32.837Z/Takeout/Location History/Semantic Location History/2020/2020_MARCH.json" again [Error: ENOENT: No content provider: /data/user/0/org.pathcheck.covidsafepaths/cache/Takeout-2020-04-

[2020-04-24 12:24] vedhakannan opened #674 "Choose health authority : Add trusted source button overlaps the "paste url" text box upon click"
Choose health authority : Add trusted source button overlaps the "paste url" text box upon click

Issue type : UI/UX
Safe paths version : 1.0.0

## Version

- Type of phone: Android
- OS Version: 9
- Model: Moto g 6 plus

## Steps to reproduce

1. Get onboarded.
2. Dashboard -> Choose health authority -> Add authority via URL
3. Click on the text box, to paste the url

Issue : The "add trusted sou

[2020-04-24 13:06] diarmidmackenzie opened #675 "Navigation issues in V1.0 updated setup sequence."
## Version

V1.0.0
- Android 9
- Moto G7

## Steps to reproduce

Multiple navigation issues in the startup flow.

By fast the worst is when you get to the HA screen.  Having entered your HA, you then have to go "back" to go forward.  And the back button is in the top left hand corner, which doesn't match any of the navigation patterns the user has seen up to that point.

Vedha didn;t spot that bac

[2020-04-24 13:14] diarmidmackenzie commented on #675
Some screenshots.

Here is the HA selection screen.  The back button is in the top left.  This made sense previously when you had navigated to the screen via the dashboard link in the top right of the app, but in this new context it makes no sense at all.

![image](https://user-images.githubusercontent.com/16045703/80216186-f7fe8100-863d-11ea-82d3-57e55b85cf7c.png)

Here's the previous screen.  No

[2020-04-24 13:18] diarmidmackenzie commented on #675
One further thought:
- To me the ordering of HAs vs. Locations is odd.  Location is something everyone using the app should set up, whether they have an HA available or not.  WHereas HA is something that to start with most users of teh app won't be able to set up.

Therefore HA to me belongs logically after Location.  I think people who don't have an HA available in their area will be confused by

[2020-04-24 14:00] alpita-masurkar commented on #632
@matteocrippa just following up, do you know if this issue has been addressed yet?

[2020-04-24 14:07] alpita-masurkar commented on #351
this should be closed. #493 was merged into dev

[2020-04-24 14:08] #351 closed

[2020-04-24 15:00] summetj commented on #351
@ai-entrepreneur  FYI in the PR you said: "Add traditional Chinese support, fixing issue #351"

If you had instead put the "fixes" keyword directly in front of the issue number ("Fixes #351") github would have automatically linked them and this issue would have been auto closed.

[2020-04-24 15:36] diarmidmackenzie commented on #609
From testing, this appears to be fixed in V1.0.  @tstirrat confirms a fix went in alongside the EULA changes.

[2020-04-24 15:43] kuzahaha commented on #611
Can you please give more detailed description of this issue, maybe expected and actual screens, thx.

[2020-04-24 15:44] dganzi commented on #675
Hi all! Thoughts:

1. _You can't go back on any of the opening screens. That was OK before as they were mostly just messages, with no config, but now e.g. the location screen is directly after tha HAs. Totally legitimate that you might want to go back & tweak your HA settings, but there is no back button. Android back button closes the app._
-To my knowledge, there is only one HA that's selectable

[2020-04-24 15:55] diarmidmackenzie opened #676 "In Haitian Creole, Android permisions requests are still in English"
## Version

v1.0.0
Android 9
Moto G7

## Steps to reproduce

Set app to Haitian Crelo language.
Get to the stage where the app asks for locaton permissions (during setup) or for media & files permissions (data export).
In each case, the permissions request is in English.

Note that my phone is set up with English as the language.  As far as I can see, Haitian Creole is not available as a language

[2020-04-24 16:12] diarmidmackenzie opened #677 "In Haitian Creole, some of the Exposure Data screen is still in English"
## Version

V1.0.0
Android 9
Moto G7

## Steps to reproduce

Generate a detected exposure (e.g. https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/21430273/23+April+2019+-+My+first+risk+of+infection+v0.9.5)

Observe the English words.

Specifically the following are all in English:
- Months
- Days od the week
- Time units (e.g. minutes).

## Expected Behavior

I expect these things to be in th

[2020-04-24 20:56] #635 closed

[2020-04-24 20:56] #632 closed

[2020-04-25 04:22] Ferrumofomega commented on #470
This is closed now due to EULAs.

[2020-04-25 12:39] diarmidmackenzie commented on #674
Same on Samsung Galaxy J6, but even worse - see screenshot.

![image](https://user-images.githubusercontent.com/16045703/80280158-9fdd8280-8702-11ea-9ad4-158acd55d586.png)

I also noticed when trying to press the disk icon, that the area for the button seems to span the entire width of the screen.

But I think we are re-working this whole UI anyway?

[2020-04-25 13:06] AdamLeonSmith opened #683 "Choose health authority: Minor UX issues"
## Version

- Type of phone: Android
- Model: Pixel 2
- V1.0 released to app store

## Steps to reproduce
UX is confusing. A floppy disk is a weird 'confirm' button and there is no confirmation of acceptance (until you go back)

## Expected Behavior
Experience should be more intuitive

[2020-04-25 13:17] #470 closed

[2020-04-25 13:24] #609 closed

[2020-04-25 15:11] AdamLeonSmith opened #684 "Algorithm detecting exposure incorrectly when it was > 4 hours ago"
## Version

- Type of phone: Android
- OS Version: 10
- Model: Pixel 3a

## Steps to reproduce

- Install the application build up location history
- Analyse your location data (I wrote this [script](https://github.com/AdamLeonSmith/privkittools/blob/master/human_readable_location_history.py) to help) and find a point that has the greatest distance from your actual location (point A, at time T)
-

[2020-04-25 15:37] aitkeni opened #685 "when use location is turned off in settings safe paths does not behave correctly."
## Version  built off v 1.0.0 (24) commit 2b95fd40ec5c421c361b8eb1419ace8743926619

Android Pixel 2 API 28

## Steps to reproduce
open app
background app ,
open settings and disable use location
go back to app.

Issue 1 notice location tracking still green/ enabled
expected - red / disabled

Issue 2
Click green icon to disable message is displayed.
click on that message , the message is displayed

[2020-04-25 19:30] penrods commented on #333
This emerged from talks with governments.  Currently we only provide retrospective information - you crossed paths in the past.  This feature in some form could allow proactive notification.

The intention isn't for the general public to use this.  Presumably if I am self quarantining then I will not be interacting with them.  However, emergencies could break into that quarantine.  For example a f

[2020-04-25 22:41] efalkner commented on #676
This is reproducible on iOS also. /Users/lizfalkner/git/forks/covid-safe-paths/e2e/artifacts/✓ Onboarding test suite in ht-HT Onboarding visual appearance Navigates through the onboarding without visual regression/Location Permissions Dialog.png

[2020-04-26 05:27] efalkner opened #689 "Add End to End tests for Haitian Creole on iOS"
Update Detox test framework to execute our tests against a simulator localized to Haitian Creole.

[2020-04-26 09:18] AdamLeonSmith commented on #684
further testing has used pythagoras and confirmed the algorithm is accurate...

[2020-04-26 09:18] #684 closed

[2020-04-26 09:24] AdamLeonSmith opened #691 "SP location is inaccurate in one instance by 346m"
## Version

- Type of phone: Android
- OS Version: 9
- Model: Samsung Galaxy S8

The location history recorded by Safe Places is inaccurate on one data point by 346 metres.  The user has also exported their google location history from the same device and provided to me.  The google location history shows the correct location with a high confidence factor.

Additional information can be provided p

[2020-04-26 09:50] AdamLeonSmith commented on #454
I have been testing with several users and can contribute more based on v1 installed via the play store.

**User 1 - Samsung Galaxy S8**

2020-04-25 15:04:21.418000, diff: 331410
2020-04-25 15:12:28.674000, diff: 487256
2020-04-25 15:20:40.598000, diff: 491924
2020-04-25 15:28:17.009000, diff: 456411
2020-04-25 15:34:18.778000, diff: 361769
2020-04-25 16:04:53.095000, diff: 1834317
2020-04-25 16:1

[2020-04-26 09:59] diarmidmackenzie commented on #691
I have also been investigating GPS data accuracy recoirded by Safe Paths & have similar concerns that our data is
(a) not accurate enough for Safe Paths needs
(b) not as accurate as other GPS services.

This is across 3 phone models (Motorola G7, Samsung J6 and Redmi 6A.

One hypothesis is detailed here:
https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/24412603/26+April+-+GPS+comparison+test

[2020-04-26 10:32] aitkeni commented on #685
Noticed that there was some commented out code in LocationService.js#L227, L315 When I uncommented these blocks the situation improved, specifically when app detects that use location is disabled it will present an Alert box allowing the user to open the settings and turn it on.  This then resolves issue 1.
When I went thru the history it seems this code was commented out during the merge to the n

[2020-04-26 10:36] diarmidmackenzie commented on #454
Several recent test reports of real-world GPS testng, all massively impacted by this issue & seeing GPS logging lock-ups of up to 8 hours.

https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/24412196/25+April+2020+-+Real-world+GPS+test+1
25 April 2020 - Real world GPS #2
https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/24543370/26+April+-+Real+World+GPS+Test+4

[2020-04-26 14:19] sergesemashko commented on #691
Just wanted to share, I've noticed in some GPS hardware (other than smartphones) that quality of GPS signal matters a lot for accurate location. If there is a way to identify signal strength on a smartphone we could add different handling.

[2020-04-26 14:25] sergesemashko commented on #672
@AdamLeonSmith , what device and OS version have you tried on?

[2020-04-26 14:29] AdamLeonSmith commented on #672
Emulated Pixel 3a with Android 10.  Thanks.

[2020-04-26 15:37] sergesemashko opened #693 "Google import instructions improvements"
As it was mentioned in the issue [Improve Google Location Data import experience](https://github.com/tripleblindmarket/covid-safe-paths/issues/69#issuecomment-612519987) google location history import process might be too overwhelming for non-technical users due to:
* Amount of steps, accuracy, asynchronous nature(it might take minutes or hours to generate takeout) of import process
* Google Takeo

[2020-04-26 15:55] tstirrat commented on #693
Great options here, discussing on slack in the UX channel! Designers and UX researchers are not all using github, so I'll close this external issue.

Anyone who's interested in the progression of this feature should [join us on slack](https://docs.google.com/forms/d/e/1FAIpQLSdzqAxrlrxb_HqLh1KXnfPu1rse4aByS2krL1OYlN3qKChyqA/viewform)!

[2020-04-26 15:55] #693 closed

[2020-04-26 20:06] diarmidmackenzie commented on #691
We are also testing with various GPS Loggers in the Play Store.  Using exactly the same hardware they are delivering much better data than our app.  So this is a software issue.

What they do to get the better data, I don't know - maybe they factor in signal strength.  At least one of them is Open Source, so we can have a look.

[2020-04-26 21:07] #677 closed

[2020-04-26 21:07] #689 closed

[2020-04-26 22:38] dganzi commented on #683
Hey there, do you have a screenshot of this behavior?

[2020-04-26 22:41] dganzi commented on #675
Seems like we can close this?

[2020-04-26 22:49] kenpugsley commented on #675
closing.   Health authority selection was remove from the onboarding sequence in #679

[2020-04-26 22:49] #675 closed

[2020-04-27 02:09] dganzi commented on #620
I believe this was completed elsewhere. If I can find the ticket again, I will post the number.

[2020-04-27 02:31] dganzi commented on #611
Is this describing the text cutoff?

[2020-04-27 02:37] dganzi commented on #612
Duplicates #607.

[2020-04-27 09:28] NethravathiPuttraju commented on #613
I have tested this in MotoG version 5.1 and also in Samsung A50. Since the scrollview is added for the screen  I am able to scroll the screen and i can see both the buttons. @vedhakannan  Scrollview not working for this screen, in the device that you are testing?

[2020-04-27 11:04] prasad79 commented on #676
On Android these alerts are system managed. So the alerts will be the displayed in the System language the Android Phone is configured in.
This should be similar in case of iOS device.

[2020-04-27 11:27] summetj commented on #620
If you confirm it is completed I'd love to close it.

[2020-04-27 11:29] summetj commented on #612
Linked to #673.

[2020-04-27 15:13] AdamLeonSmith commented on #683
![WhatsApp Image 2020-04-27 at 16 12 52](https://user-images.githubusercontent.com/48051844/80388622-04831380-88a2-11ea-9782-5df5320462b7.jpeg)
![WhatsApp Image 2020-04-27 at 16 12 44](https://user-images.githubusercontent.com/48051844/80388631-064cd700-88a2-11ea-99f4-283a8b187b3d.jpeg)

Screenshots attached

[2020-04-27 22:27] tstirrat commented on #622
Fixed in #649

[2020-04-27 22:27] #622 closed

[2020-04-27 22:29] tstirrat commented on #623
Fixed in #649

[2020-04-27 22:29] #623 closed

[2020-04-27 22:30] tstirrat commented on #621
Fixed in #628

[2020-04-27 22:30] #621 closed

[2020-04-28 03:52] kenpugsley commented on #645
Closing.  Was an issue with the https://covidsafepaths.org/in-app-news page, but seems to have been resolved.

[2020-04-28 03:52] #645 closed

[2020-04-28 06:27] ShreyaaSahu commented on #645
yes , this is resolved now.

[2020-04-28 15:26] chuehsien opened #707 "postinstall script does not work for windows"
## Version

- Type of phone: Android
- OS Version: Android Pie
- Model: Oneplus 7T

## Steps to reproduce

When runing the dev setup, the last step errors out:

[code]

## Expected Behavior

I expected the dev_setup.bat to proceed smoothly (it already does! except the last part)

From my debugging, the problem occurs because of the ';' in the postinstall script: "patch-package; npx react-native-je

[2020-04-28 17:49] JohnMantegna commented on #217
When ready for integration, see this repo that contains the watch app code and a paired iOS app used for testing: https://github.com/JohnMantegna/PrivateKitTest-Watch-Roam

[2020-04-28 19:27] aartiverma1 commented on #674
In case no re-working, assign this to me.

[2020-04-28 21:40] diarmidmackenzie commented on #325
Some test results here:

https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/31621196/28+April+-+Some+basic+scale+testing

Not very "extreme".  Managed to crash at 50 cases / 14d on Android.  Reliably crashed at 100 cases / 14d.

[2020-04-29 06:09] ShreyaaSahu commented on #685
iPhone XR
ios version 13.3
App version 1.0.1

This issue is happening in ios App also .

[2020-04-29 06:36] ShreyaaSahu opened #717 "When Device location is 'off' , "Enable Location" button isn't working - ios App v1.0.1 issue"
## Version

- Type of phone:  iPhone
- OS Version: ios 13.3
- Model: iPhone XR

## Steps to reproduce

1. Device location is set to "off" .

2. launch  COVID SafePath app
3. Click on "Get Started"
4. Accept the Licensing agreement
5. Cross the 3 onboarding screen
6. Next Screen will be " Location access " and "Allow notifications " options.
7. clicking on "Enable Location"  button at bottom  - isn

[2020-04-29 06:50] Niniya173 commented on #685
Same issue is seen in
 iPhone 5S
ios version 11.2.6
App version 1.0.1

[2020-04-29 08:16] ShreyaaSahu opened #718 "In Haitian Creole, few Screen contents are still in English - ios App v1.01 - similar to issue 676 ."
## Version

- Type of phone: iPhone
- OS Version: ios 13.3
- Model: iPhone XR

## Steps to reproduce

1.  Launch App
2.  Select  "kreyol ayisyen" language in drop down
3.  Below Screens content are in English :

" I accept the licensing agreement " section
![IMG-4633](https://user-images.githubusercontent.com/64080646/80574287-31106a00-8a1f-11ea-939a-f08faa09637c.PNG)

" Skip this Step "
![IMG-463

[2020-04-29 08:18] aitkeni commented on #685
thanks for confirming guys!  I have some code which tries to fix this issue and reenables the feature to open the location settings so user can turn it on.  just ironing out some scenarios where it gets confused about its state.  will make a PR today hopefully.

[2020-04-29 08:37] NaziyaNazir opened #719 "Dashbord shows Location Active though user tapped "skip this step" for location permissions - android App v1.0.1"
**Version**
Type of phone: Android
OS Version: 9
Model: Realme U1

**Steps to reproduce**
1. Launch App
2. Tap on "Get Started"
3. Accept the Licensing agreement
4. Tap Next twice and click on "Set up my phone"
5. Tap "Skip this step". Location access is shown in red cross mark
6. Tap on "Finish Setup" to navigate to Home screen
7. Navigate to Dashboard

**Expected Behavior**
"Location Inactive" s

[2020-04-29 08:38] NaziyaNazir commented on #719
![Screenshot_2020-04-29-14-02-20-92_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-images.githubusercontent.com/64524151/80576441-cf51ff00-8a22-11ea-9ef1-2d76fd89603a.png)

[2020-04-29 09:11] NaziyaNazir commented on #718
Same issue is seen for Android also.

[2020-04-29 10:11] denispapakul commented on #719
I can look into this issue.

[2020-04-29 12:10] Niniya173 commented on #718
I also find the same issue in iPhone 5s, app version 1.0.1 and OS version 11.2.6

[2020-04-29 12:13] Niniya173 commented on #674
I also find the same issue in iPhone 5s, app version 1.0.1 and OS version 11.2.6.
Also at first, only the option to enter an URL is coming other options are visible only when a URL is added

[2020-04-29 12:34] diarmidmackenzie commented on #719
I saw a number of problems in this area.

It looks as though there are 2 settings here:
- The app's view of whether location tracking is enabled or not
- The OS view of what permissions the app has.

If location permissions are denied (or not yet requested) at the OS level, it seems the app is displaying the "location tracking" status as recorded in the app.  But if the underlying permissions are

[2020-04-29 13:15] vestial commented on #683
This looks similar to issue #457 .

[2020-04-29 13:16] Krish023 commented on #717
Can you please assign it to me. I will look at this issue.

[2020-04-29 14:54] Krish023 commented on #717
Hi @ShreyaaSahu Can you please verify on ANdroid also?

[2020-04-29 16:47] summetj commented on #336
Current sensitivity is 20m (60ft).

[2020-04-29 16:47] #336 closed

[2020-04-29 16:50] summetj commented on #350
Closing this suggestion, if data storage size becomes an issue in the future, need to coordinate with safe places webapp and consider binary format.

[2020-04-29 16:50] #350 closed

[2020-04-29 17:13] summetj commented on #434
@tremblerz Is this issue still valid?

[2020-04-29 17:16] summetj commented on #442
This is very similar to #434 @tremblerz but fully defined.  If this behavior is still a concern I'd like to close #434 and try and get somebody to work on this one.   On the other hand, I believe this behavior is correct w.r.t. the specifications document, so the issue should be brought up as an improvement for the next specification document and not a correction to the codebase.

[2020-04-29 17:33] summetj commented on #442
According to the MVP specification, the app should display "No Exposure data is available yet" if no health authority is selected, and the "No known contact" screen only IF a health authority is selected. This is not currently the behavior for version: 1.0.0

[2020-04-29 17:38] summetj commented on #434
I've decided this is still a valid issue as version 1.0.0 does not follow the MVP specification document. I've documented this in #442 and will close this one and keep that one.

[2020-04-29 17:38] #434 closed

[2020-04-29 17:44] summetj commented on #443
Closing - suggestion for new behavior (updates to specification document) as opposed to issue with code.

It's not a bad suggestion, but should be taken up with the specifications developers.

[2020-04-29 17:44] #443 closed

[2020-04-29 17:57] summetj commented on #444
Possibly not the best way to communicate to the user, but the primary goal is to alert the user to possible exposure.  The specification has a "green" (not exposed) and "yellow" (may have been exposed) binary distinction at the moment. Closing issue as the app follows the specification.

[2020-04-29 17:57] #444 closed

[2020-04-29 18:00] summetj commented on #445
App currently has link to Mayo clinic. Extra functionality removed for MVP rollout. Additional features will be included in future version specifications.

[2020-04-29 18:00] #445 closed

[2020-04-29 18:04] summetj commented on #449
#410 is finished. Can somebody (@diarmidmackenzie  ?)  please re-test this issue with the 1.0.1 release and report back if I can close this ticket?

[2020-04-29 18:05] summetj commented on #450
I'm going to close this as #410 has merged, feel free to re-open or re-create if that didn't resolve it.

[2020-04-29 18:05] #450 closed

[2020-04-29 18:19] summetj commented on #451
Closing issue, may re-address after revamped google location import is integrated.

[2020-04-29 18:19] #451 closed

[2020-04-29 18:20] summetj commented on #452
Removed from current app.

[2020-04-29 18:20] #452 closed

[2020-04-29 18:26] summetj commented on #453
This is a valid concern, but in the interests of ease-of-use and interoperability we are supporting email transfer of the data. (along with other transports).

If an attacker has access to your own email you might have bigger issues to worry about than them knowing your location history. [And the same applies to the Health Authority.]

At at some point in the future it would be nice to add the abi

[2020-04-29 18:31] summetj commented on #447
Closed by #657.

[2020-04-29 18:31] #447 closed

[2020-04-29 19:07] summetj commented on #448
This is still an issue in the released 1.0 app, but I do not feel it is a critical issue.

I expect the android and iOS flow/permissions (and solutions) may be slightly different.   [I don't even know if there is a way for us to detect that the user isn't pushing the "deny" button, but instead the OS is auto-denying the permission request.]

I don't necessarily want to say we won't fix this, but t

[2020-04-29 19:13] summetj commented on #454
Question: Does this impact iOS as well as Android?

I hope some of the work w.r.t. GPS inaccuracy may end up solving the cadence issue as well.

(Perhaps we should log more frequently (2.5 minutes?) and only save every 5 minutes or upon motion?) Getting a "ping" from accerometer data that the phone is actually moving could help us save power by NOT sampling location when the phone is not moving.)

[2020-04-29 19:20] summetj commented on #455
This would be a good self contained issue for somebody to work on. Pick a specific transport (such as WhatsApp) and figure out how to add a subject "Covid Safe Paths Location trace data" when sending the export file with it.)

Then repeat for the top "X" transports.

[2020-04-29 19:32] summetj commented on #459
This is resolved by V 1.0.0 app (N HA's allowed).

[2020-04-29 19:32] #459 closed

[2020-04-29 19:36] summetj commented on #457
A few of these have been resolved as the app has been improved. However, the following still exist:
- “Save” (floppy disk) icon used to add a URL entry. This doesn’t match any UX mechanic that I am familiar with in mobile apps for adding entries to a list.
-o Health Authorities that I have already added continue to appear as options in the list.
 (not as big of an issue, but it would be a nice imp

[2020-04-29 19:38] summetj commented on #683
There are a few issues mentioned in #457 that still need to be resolved as well. If you decide to work on this guy, also look at #457.

If it's just your first issue, you might want to pick one item (perhaps replace the floppy disk with a save button?) to address.

[2020-04-29 19:41] summetj commented on #458
This will eventually be a concern for future us, but I'm going to close the issue as it's more of a specification desire than a problem with the existing codebase. (Hopefully the V2 spec will answer some of your questions above....)  [Auto enroll in Heath Authority based upon location may also make much this a non-issue.]

[2020-04-29 19:41] #458 closed

[2020-04-29 19:44] summetj commented on #460
User can now enter a HA via URL manually.

The PathCheck organization will police new Health Authorities, this is a policy issue outside of github and this code base.

[2020-04-29 19:44] #460 closed

[2020-04-29 19:46] summetj commented on #472
Discussion moved to slack.

[2020-04-29 19:46] #472 closed

[2020-04-29 19:48] summetj commented on #486
Resolved in released app.  Each Health Authority will be responsible for this information.

[2020-04-29 19:48] #486 closed

[2020-04-29 19:50] summetj commented on #489
Due to the sensitive nature of the data the app is collecting (location logs, potentially contact ID's in the future) we will want to be very careful with the amount/type of diagnostic data we collect. [I would recommend we do all testing ourselves instead of instrumenting the app.]

[2020-04-29 19:55] summetj commented on #492
Moving to slack for policy/communications discussion.

[2020-04-29 19:55] #492 closed

[2020-04-29 20:19] summetj commented on #633
@alpita-masurkar  - Should we close this issue?

[2020-04-29 20:35] troach-sf opened #727 "iOS "Finish Setup" button causes temporary UI lock"
## Version

- Type of phone: iPhone
- OS Version: 13

## Steps to reproduce

I'm seeing a 3-5 second thread UI thread lock clicking "Finish Setup" on the last onboarding screen.

## Expected Behavior

Clicking "Finish Setup" doesn't lock screen. If we have any long running processes that need to complete before leaving this screen, they should be queued up asynchronously.

[2020-04-29 20:40] pauladam316 commented on #683
I'd like to try tackling the save button problem as a first issue. Can you assign it to me?

[2020-04-30 02:10] #707 closed

[2020-04-30 02:33] #646 closed

[2020-04-30 04:01] #719 closed

[2020-04-30 06:35] Niniya173 commented on #646
Same issue is identified in iPhone 5s, version 11.2.6 and app version 1.0.1

[2020-04-30 07:12] arvind-source commented on #608
Red Icon Flicker Issue on "No known contacts" page issue resolved

[2020-04-30 07:37] matteocrippa commented on #727
@troach-sf are you testing a release or debug version installed by yourself?

[2020-04-30 07:53] diarmidmackenzie commented on #454
I don't have iOS - I have only analyzed one data set from iOS from Elvira, and it was perfect.  More testing needed, though.

Using accelerometer, we should consider that mobvement & acceleration are not the same thing.  People on e.g. trains may be moving fast with no trigger on the accelerometer.

We may be willing to trade off these cases for the improved battery life - but we should do so cons

[2020-04-30 07:53] NaziyaNazir commented on #656
This issue is seen for Android also.

[2020-04-30 07:54] diarmidmackenzie commented on #455
However I believe we are working on a more secure transport channel to send data direct to the HA, in which case this issue may become moot.

[2020-04-30 07:58] diarmidmackenzie commented on #453
"If an attacker has access to your own email you might have bigger issues to worry about than them knowing your location history."

You might, and you might not.  Lots of different possible attackers, not all sinister strangers.

A husband or wife might easily be trusted to have access to your email account (or be able to get access fairly easily).  That doesn't mean you are happy for them to view

[2020-04-30 08:02] ArchanaNair commented on #656
@NaziyaNazir, reproducible steps same for android?

[2020-04-30 08:04] NaziyaNazir commented on #656
@ArchanaNair Yes, the repro steps are same.

[2020-04-30 08:21] ArchanaNair commented on #656
May I know the OS version? I am unable to reproduce it on Android, verifying it on OS version 9

[2020-04-30 08:46] NaziyaNazir commented on #656
@ArchanaNair  OS version is Android 9.

[2020-04-30 08:56] ArchanaNair commented on #656
@NaziyaNazir , I could see the issue when app goes to background and again comes to foreground, but not in the scenario which is given in reproducible step.

[2020-04-30 09:07] ShreyaaSahu commented on #611
This issue was raised as per the MVP req doc , There it was written like , only one  (3rd one )   onboarding screen instead of 3 should be present .

[2020-04-30 09:10] ShreyaaSahu opened #730 ""Latest News " is displaying the blue processing screen , unless User tapped on that."
## Version

- Type of phone:  iPhone
- OS Version:  ios 13.3
- Model: XR

## Steps to reproduce

1. Open the App
2. Open Hamburger menu
3. select "Latest News "
4. Blue screen will display , with a processing sign
5. It will display this blue screen continuously unless user tap/swipe on the blue screen .

![IMG-4654](https://user-images.githubusercontent.com/64080646/80693330-781a6000-8af0-11ea-85

[2020-04-30 09:20] ShreyaaSahu opened #731 "" Learn more about Covid SafePaths " link in Latest News is displaying error - ios app v1.0.1"
## Version

- Type of phone:  iPhone
- OS Version: ios 13.3
- Model: XR

## Steps to reproduce
1. Open the App
2. Open Hamburger menu
3. select "Latest News "
4. SafePath News screen will open
5. click on link " Learn more about Covid SafePaths "
6. It will display error .

![IMG-4655](https://user-images.githubusercontent.com/64080646/80694198-cb40e280-8af1-11ea-9d56-d00d94b0fe47.PNG)

![IMG-4649

[2020-04-30 11:16] NaziyaNazir commented on #731
Issue exists in Android 9 as well.
![Screenshot_2020-04-30-12-39-04-13_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-images.githubusercontent.com/64524151/80704361-106d1080-8b02-11ea-8444-0bd67e0369e3.png)

[2020-04-30 11:23] NaziyaNazir opened #733 ""Private Kit" link in Latest News screen is displaying error - Android app v1.0.1"
**Version**
Type of phone: Realme
OS Version: Android 9
Model: U1

**Steps to reproduce**
1. Open the App
2. Open Hamburger menu
3. Tap "Latest News" to navigate to SafePath News screen
4. Tap on link "Private Kit"

**Expected Behavior**
Private kit screen should be displayed

**Actual Behavior**
Error loading page is displayed

![Screenshot_2020-04-30-16-52-48-35_7279f4f2abc8c6febb8fd1ee45579eaa]

[2020-04-30 11:28] NaziyaNazir opened #734 ""Join us" link in Latest News screen is not responding - Android app v1.0.1"
**Version**
Type of phone: Realme
OS Version: Android 9
Model: U1

**Steps to reproduce**
Open the App
Open Hamburger menu
Tap "Latest News" to navigate to SafePath News screen
Tap on link "Join us"

**Expected Behavior**
"Join us" screen should be displayed

**Actual Behavior**
No response on tapping the link

![Screenshot_2020-04-30-16-52-48-35_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-imag

[2020-04-30 11:31] ShreyaaSahu opened #735 "Lock icon is slightly overlapping C in Commitment of About screen - ios App v1.0.1"
## Version

- Type of phone: iPhone
- OS Version: ios 13.3
- Model: iPhone XR

## Steps to reproduce
1. open App
2. Tap on main menu option
3. open "About "
4. Screen displays content
5. on screen - Lock icon is slightly overlapping C in Commitment

![IMG-4656](https://user-images.githubusercontent.com/64080646/80705484-25e33a00-8b04-11ea-9cce-bdebd87029fa.PNG)

## Expected Behavior
Lock icon is d

[2020-04-30 11:34] ShreyaaSahu opened #736 "Back button navigation issue in Latest News Section - ios App v1.0.1"
## Version

- Type of phone: iPhone
- OS Version: ios 13.3
- Model: iPhone XR

## Steps to reproduce
1. open App
2. Tap on main menu option
3. open "Latest News "
4. Screen displays content  with few links
5. Open any link   e.g. "Related Search"
6. "Related Search" screen open
7. Tap on Back button
8. User is taken to dashboard  - Main menu .

Steps are shown in screenshots -
Main menu
![IMG-4657

[2020-04-30 11:40] NaziyaNazir opened #737 "Difficulty in scrolling of Content in Safe Paths News of Latest News screen- Android app v1.0.1"
**Version**
Type of phone: Realme
OS Version: Android 9
Model: U1

**Steps to reproduce**
Open the App
Open Hamburger menu
Tap "Latest News" to navigate to SafePath News screen
Tap on Hamburger Menu against COVID SafePaths
Tap on FAQ and scroll through the contents

**Expected Behavior**
Content scrolling should be smooth and user friendly

Actual Behavior
Difficulty in scrolling of the content

[2020-04-30 11:43] NaziyaNazir opened #738 "Content of Latest News is not compatible - Android app v1.0.1"
**Version**
Type of phone: Realme
OS Version: Android 9
Model: U1

**Steps to reproduce**
Open the App
Open Hamburger menu
Tap "Latest News" to navigate to SafePath News screen

**Expected Behavior**
Hamburger Menu against COVID SafePaths should be displayed within the window

**Actual Behavior**
Hamburger Menu against COVID SafePaths is cut

![Screenshot_2020-04-30-16-52-48-35_7279f4f2abc8c6febb8

[2020-04-30 11:45] NaziyaNazir commented on #735
Issue exists in Android 9 as well.

![Screenshot_2020-04-30-12-40-22-57_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-images.githubusercontent.com/64524151/80706604-30063800-8b06-11ea-87c1-281456a15a35.png)

[2020-04-30 11:46] NaziyaNazir commented on #736
Issue exists in Android 9 as well.

[2020-04-30 11:54] ShreyaaSahu opened #739 "Compatibility issue in Redirect Notice screen (URL redirection from Licensing agreement screen)"
## Version

Type of phone: iPhone
OS Version: ios 13.3
Model: iPhone XR

## Steps to reproduce

1. Launch App
2. Tap on "Get Started " button
3. License Agreement Screen displays
4. Two URL present  - in the "Term of Use" Content
5. Tap on any of them e.g.  " https://github.com/tripleblindmarket/safe-places "
6. Redirect Notice Screen will get open
7. Compatibility issues in this Screen -  content

[2020-04-30 11:57] vestial commented on #617
I'll take a look into this

[2020-04-30 12:03] NaziyaNazir opened #740 "Previously added URL is auto-populated when trying to add authority via URL in "Choose Health Authority" screen - Android app v1.0.1"
**Version**
Type of phone: Realme
OS Version: Android 9
Model: U1

**Steps to reproduce**
Open the App
Open Hamburger menu
Tap "Choose Health Authority"
Tap on "Add Trusted Source"
Tap on "Add authority via URL"
Add a URL say "egds.com" and save
Again, Tap on "Add Trusted Source" and Tap on "Add authority via URL"

**Expected Behavior**
Blank field to add URL should be displayed

**Actual Behavior

[2020-04-30 12:06] NaziyaNazir commented on #739
Issue exists in Android 9 as well.

![Screenshot_2020-04-30-12-37-47-53_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-images.githubusercontent.com/64524151/80708330-20d4b980-8b09-11ea-827e-b4c158d7423d.png)

[2020-04-30 12:09] ShreyaaSahu commented on #740
**This is happening in IOS also :**

"Google.com" already added -

![IMG-4665](https://user-images.githubusercontent.com/64080646/80708311-19adab80-8b09-11ea-8c3c-724836100ce0.PNG)

Tapped on "Add authority via URL" for new  , it displays the old one ( Editable )

![IMG-4666](https://user-images.githubusercontent.com/64080646/80708323-1c100580-8b09-11ea-9546-b2d2667f1c2f.PNG)

[2020-04-30 12:29] summetj commented on #734
I suspect that all of these (#731,#733) are related, perhaps we should combine the issues?
Whoever fixes them will probably do a single PR, be sure to link each of the issues to that PR.

[2020-04-30 12:32] summetj commented on #736
This may not be a "bug". (We are not implementing a full featured web browser with a browsing history/breadcrumbs model.) I'll let @alpita-masurkar decide if this needs to be fixed or won't fix.  (I don't know if the specifications say exactly what this back behavior should be.....but I doubt it.)

[2020-04-30 12:36] summetj commented on #737
Can you give more details about the difficulty? Is it lagging, skipping or not moving when you drag the content?

[2020-04-30 12:42] summetj commented on #740
This might not be a bug. (If the user messed up the URL the first time, they might like the opportunity to edit it for a 2nd attempt.) I'll let @alpita-masurkar determine if this behavior is desired or not.

[2020-04-30 12:46] summetj commented on #730
Does this also affect Android, or is it iOS specific?

[2020-04-30 12:50] summetj commented on #656
This is starting to sound like a low priority issue, anybody disagree?
 And is it strictly a UI/UX issue, or an issue with how the location subsystem works?

[2020-04-30 12:52] summetj commented on #453
@diarmidmackenzie Agreed, secure transmission of location data is definitely a desirable feature.

[2020-04-30 12:56] summetj commented on #454
There should still be enough jerk in trains/cars to trigger logging unless you are in a VERY smooth train with no corners or acceleration/deceleration ever...

[2020-04-30 13:00] summetj commented on #608
@denispapakul - Can you take a look at the bigger picture issues raised in the pull request?

[2020-04-30 13:02] summetj commented on #608
Should we close this issue and the pending pull request? (closed by other fixes?)

[2020-04-30 13:03] ShreyaaSahu commented on #730
This is happening in iOS only .

[2020-04-30 13:08] arvind-source commented on #608
Yes bcz I have tested on below configuration it is having no issues now red icon.
Type of phone: Android
OS Version: 9

[2020-04-30 13:09] #608 closed

[2020-04-30 13:17] summetj commented on #718
I expect that the "legal" page is that way because we only have the EULA in English right now. The others should definitely be translated.

[2020-04-30 13:19] Niniya173 commented on #730
Same issue is seen in IOS version 11.2.6, iPhone 5s.

[2020-04-30 13:26] summetj commented on #683
@pauladam316  - You'll want to check in with the UI/UX people on the #appdev channel with your suggestion for what to replace the floppy disk icon with to make sure it fits their overall plans.

[2020-04-30 13:33] troach-sf commented on #727
develop branch, debug/release builds on real iOS devices. I suspect the lock is actually on the home screen, not the last onboarding screen. I've seen the lock occur on the home screen as well. My guess is that it consistently locks after clicking "Finish Setup" because its attempting to display the home screen being initialized, and it locks up before it is able to draw any frames of that screen.

[2020-04-30 13:35] matteocrippa commented on #727
If the app has been built using Xcode and Xcode has debugger on, the issue should be the UI Thread check.

You can try checking if this happens also without any usb attach to device or in that scenario it works fine.

[2020-04-30 13:36] Niniya173 opened #742 "IOS_Hamburger icon is not visible in latest News screen"
**Version**
- Type of phone: Android
- OS Version:11.2.6
- Model: iPhone 5S

**Steps**
1. open App
2. Tap on main menu option
3. open "Latest News "
4. Screen displays content with few links

**Expected Behavior**
'Latest News' Screen should appear as expected
![image](https://user-images.githubusercontent.com/64129755/80716788-b5ddaf80-8b15-11ea-962e-68470e6da807.png)

**Actual Behavior**
Hamburg

[2020-04-30 13:38] Niniya173 commented on #740
Same issue is seen in iPhone 5S version 11.2.6.

[2020-04-30 13:53] troach-sf commented on #727
The issue is the call to PushNotification.configure: https://github.com/tripleblindmarket/covid-safe-paths/blob/develop/app/services/LocationService.js#L220. When removed, the lock no longer occurs.

I've got a few tickets I need to close out in the next few days before I could get to looking further into this. Maybe someone else can in the meantime.

[2020-04-30 14:16] Niniya173 commented on #718
Same issue is in the 'Latest News' screen, 'Choose Health Authority' Screen and in the 'About' Screen

Attaching the screenshots,
![image](https://user-images.githubusercontent.com/64129755/80720854-24713c00-8b1b-11ea-963e-bde87c8e756a.png)
![image](https://user-images.githubusercontent.com/64129755/80720889-30f59480-8b1b-11ea-86e9-f95252655e4d.png)
![image](https://user-images.githubusercontent.c

[2020-04-30 15:50] NaziyaNazir commented on #737
It is not moving when I drag the content.

[2020-04-30 16:22] pauladam316 commented on #683
@summetj is #appdev a slack channel? Would you be able to send me an invite to that? Thanks!

[2020-04-30 16:33] #718 closed

[2020-04-30 21:44] skusunam commented on #734
I started looking for quick issues I can start with and get used to the codebase. I will start with this and also fix #731 and #732. Let me know if anyone else started fixing this?

[2020-05-01 11:50] summetj commented on #731
@skusunam  is working on this one.

[2020-05-01 11:51] summetj commented on #733
@skusunam is working on this one.

[2020-05-01 11:53] summetj commented on #734
Great thanks! I've assigned you to this one. (I can't officially assign you to #731 and #733, possibly because you have not commented on those issues yet, but I put a note on them so others will know to check with you...)

[2020-05-01 11:56] summetj commented on #612
@ArchanaNair  - Let me know if this issue still applies or not after you communicate with the ui/ux people.

[2020-05-01 12:00] summetj commented on #683
Yes, it is. If you have not already, fill out the volunteer intake form (as that is where you would normally get access to the slack, developer instructions, etc....)
https://docs.google.com/forms/d/e/1FAIpQLSdzqAxrlrxb_HqLh1KXnfPu1rse4aByS2krL1OYlN3qKChyqA/viewform

Here is a direct slack invite link:
https://join.slack.com/t/covidsafepaths/shared_invite/zt-don4bveq-T83ROZfvSthT03zXy5vFeg

[2020-05-01 13:49] johntmyers opened #746 "Privacy concern: location export"
Last night I downloaded PrivateKit for iOS and enabled location tracking. It does not seem like the application is consistent in recording locations (no locations were logged when I went to the grocery store this morning, for example).

With that said, I have a concern with how "Export location history" functions. It appears this function exports the full current history. If there is a "Privacy Fi

[2020-05-01 13:55] #672 closed

[2020-05-01 15:52] summetj commented on #746
Thank you for your comments.  The PrivateKit application is older, and the project has been renamed (version 1.0.0 is in the Google Play Store now, and will soon appear in the Apple Store) you should check out the current releases here to evaluate an up to date release:
https://github.com/tripleblindmarket/covid-safe-paths/releases

Note that the SafePlaces webapp used by the health authority is w

[2020-05-01 15:52] #746 closed

[2020-05-01 16:02] summetj commented on #636
@matteocrippa Is this a "won'tfix" and should be closed?

[2020-05-01 16:04] summetj commented on #629
Linked to #630, closed.

[2020-05-01 16:04] #629 closed

[2020-05-01 16:06] summetj commented on #727
@troach-sf - Should this qualify for the iOS tag, or does the lag/lock occur on Android as well?

[2020-05-01 16:08] summetj commented on #509
@tremblerz  - Is this still an issue we need to track/assign to someone, or should it be closed?

[2020-05-01 16:10] matteocrippa commented on #636
@summetj prolly, consider that till we don't have it localizable, it will stay en only

[2020-05-01 16:18] summetj commented on #516
This is a valid concern with off-cycle location sampling every 5 minutes (as opposed to logging upon every motion).

However, I feel it is a low priority feature enhancement.  I suspect that it may be addressed as a side effect as we re-work the cadence of GPS recording(#454), investigate using accelerometer data to determine WHEN we GPS log (#403) etc....  [I link to those issues so that people w

[2020-05-01 16:19] diarmidmackenzie commented on #455
Hmm.  Not convinced we should be supporting HAs in depoying privacy-deficient implementations.

Retaining this function when no longer required would violate the "minimize attack surface area" Security by Design principle.

[2020-05-01 16:20] summetj commented on #516
Modifying the algorithm to sample at 5 minute intervals tied to absolute time (12:00, 12:05, etc....) seems like an easy fix that could be applied with minimal changes to the codebase, so I'm going to label this "good first issue", but if somebody picks it up, they should ask people in #appdev on slack to make sure that absolute vs relative time change doesn't mess something else up before putting

[2020-05-01 16:25] diarmidmackenzie commented on #516
Agreed, care needed before making any changes here.  Also note that some of the Safe Places data will come from other sources (e.g. Google Takeout), where we can't assume logs are on rigid 5 minute boundaries, so just fixing what the APp outputs is not a complete solution here.

I am doing some work with some data science people to do some modelling to determine how good/bad the current algorithm

[2020-05-01 16:32] summetj commented on #547
v 1.0.0 fixes these issues.

[2020-05-01 16:32] #547 closed

[2020-05-01 16:37] summetj commented on #636
Looks like these two strings have specific recommendations for improvement which should be ran by the translation team:

Dashboard > "Ultime novità" section > autorità "sanitarie" and not "sanitare"
Dashboard > Informazioni > Missione section > "l'interazione" and not "l'intereazione"

Otherwise the EULA/Legal will remain English until/unless we get those translated as well.

[2020-05-01 16:37] diarmidmackenzie commented on #489
If we are succesful, millions of people will instal this app, and run it for billions of hours.

Total hours of internal testing will probably be in the thousands.

It is inevitable that they will run into important problems, which we should fix, which it would be impossible to find in our own internal testing.

Creating a privacy-respecting plan for how we address this fact is a major challenge,

[2020-05-01 16:46] matteocrippa commented on #636
@summetj that two strings were already fixed more than a week ago, I'm taking care of italian localisation. Just double check in lokalise right now as double confirmation

[2020-05-01 17:05] diarmidmackenzie commented on #449
Import of Google Takeout is still not enabled in v1.00 or v1.0.1 as it is currently considered "not good enough".

Probably we should ensure this function is tracked as a Jira story, for PM to schedule as appropriate,  & close this.

[2020-05-01 18:58] summetj commented on #636
@matteocrippa Great thanks! I'm closing the issue.

[2020-05-01 18:58] #636 closed

[2020-05-01 19:01] summetj commented on #449
Ok, I'm closing the issue, @diarmidmackenzie I'll let you set up the function in Jira to schedule/track for future enhancement so we can keep the github issues specific to issues with the current code.

[2020-05-01 19:07] skusunam commented on #731
Did some digging and here is the problem:

We use this internal URL (https://covidsafepaths.org/in-app-news) when we navigate to "Latest News" on the App. This URL has a clickable link for "Learn more about Covid SafePaths" which is pointing to wrong/in-correct URL: http://localhost:3000/ and that is why we see the error page.

[2020-05-01 19:07] driedgrape commented on #683
Hi folks, thanks for your input on the health authority page! The uiux team already have a few updates / changes in the works for selecting a health authority to make the process more straightforward for users

[2020-05-01 19:12] summetj commented on #731
Sounds like an easy fix, go for it! Just make sure to include the keyword "closes" or "fixes" in front of the issue number inside your pull request description. (e.g. "Fixes #731") so that GitHub will link the pull request to this issue and auto-close it when the pull request is accepted.

[2020-05-01 19:33] summetj commented on #731
Ok, I understand the issue now. The URL in the app is fine, but that webpage has a broken link. I have informed the website team of this issue (but am leaving the issue open in github until they fix it.)

[2020-05-01 23:08] skusunam commented on #731
@summetj Looks like website team fixed this link and it is working fine now. I just validated and you can validate too by going to this URL [https://covidsafepaths.org/in-app-news](https://covidsafepaths.org/in-app-news) and clicking "Learn more about Covid SafePaths" link. I tested this on the ios simulator too.

[2020-05-01 23:45] tstirrat commented on #613
Fixed in #640

[2020-05-01 23:45] #613 closed

[2020-05-02 00:14] #731 closed

[2020-05-02 01:23] tstirrat commented on #425
This is waiting on some UX updates. We're tracking it in Jira https://pathcheck.atlassian.net/browse/SAF-40

[2020-05-02 01:23] #425 closed

[2020-05-02 02:48] Patrick-Erichsen commented on #607
Closing for now as this matches the stated MVP docs. Worth keeping in mind as a data point for UX though.

[2020-05-02 02:48] #607 closed

[2020-05-02 07:45] NethravathiPuttraju commented on #735
Assign this to me . i will take a look into this .

[2020-05-02 09:14] ArchanaNair commented on #612
@summetj , sure have dropped a message to @driedgrape, will update here once it is confirmed.

[2020-05-02 11:18] summetj commented on #735
Great Thanks! Please coordinate with UI/UX people on Slack with your proposed solution to make sure it's not overlapping other work.

[2020-05-02 13:31] alpita-masurkar opened #753 "Contributing Language Support/ Translation/ Localization - Lokalise"
## Issue type- Localization, Contributing Language Support Guidelines

We've now officially entered into a collaboration with **Lokalise** for our translations.
What this means for us:

- Our translation process is automated with a pleasant UI and makes it easier to see new updates to the English content, see screenshots of where and how the content will appear and translate them.
- **All new tran

[2020-05-02 13:32] alpita-masurkar commented on #753
If possible, can we also link this on the CONTRIBUTING.md file?
It'd be really helpful as there are some who are not on Slack and contributing language PRs here. It is a duplication of efforts for them.

[2020-05-02 14:25] vestial commented on #617
Hi, I currently don't see any issue with the ripples on all devices mentioned above in the new `develop` branch. Can you guys confirm it?

[2020-05-02 15:21] summetj commented on #617
No longer an issue,closing.

[2020-05-02 15:21] #617 closed

[2020-05-02 16:36] ten-sis commented on #602
I have been considering giving this issue to some dev who is currently looking for the work. @shilpashendre, if you are in progress or still willing to take care of this - let me know.

[2020-05-02 16:43] tstirrat commented on #753
https://github.com/tripleblindmarket/covid-safe-paths/wiki/Localization-Contributing-Guidelines

[2020-05-02 16:43] #753 closed

[2020-05-02 17:22] tstirrat commented on #602
This is likely covered in #749

[2020-05-02 17:51] summetj commented on #602
I've linked it so 749 will close this issue.

[2020-05-02 18:04] diarmidmackenzie commented on #717
This problem does not exist in Android.  In Android there is a different problem - if location settings are "off" on the device, the app allows location services to be set up & reports them all as working.  But in fact they are not as locaton services are "off".

We should check this out as part of re-testing #719 - I will add a note there.

[2020-05-02 18:06] diarmidmackenzie commented on #719
This needs retesting after fix.

Also there is yet another layer of config to consider.  As well as the app not having permissions to access location data, there is also an option to disble location altogether at the device level.

Again, the App should report location as inactive, and provide appropriate remdial guidance, where this is the case.

[2020-05-03 07:42] sharadxkumar opened #758 "Setup Issue on Mac"
## Issue type

## Version
- Release build version:

## Affected Devices

| Brand        |  Model        | OS  |
| ------------ |:-------------:| ----:|

## Affected Languages

## Steps to reproduce
I am running this on my MacBook pro, macOS Catalina. When I try to setup, I get the following error.  I have configured Android Studio per the instructions provided in the script.

sharads@Sharads-MBP c

[2020-05-03 11:19] AdamLeonSmith opened #759 "Altitude is logged but not used"
Data that is not used/required should not be collected for privacy purposes.  It appears that altitude is logged in the internal application database but not used as part of the contact tracing flow.

[2020-05-03 13:51] #758 closed

[2020-05-03 13:51] sharadxkumar commented on #758
Had other installation issues.  Had to reintall Yarn and node

[2020-05-03 15:43] summetj commented on #759
I can see that potentially being useful (e.g. floors within a building) but if we are not exporting it as part of the json file there is no reason to store it locally.  Suggest you ask around on the slack #appdev channel to make sure there are no future plans for this.....

[2020-05-03 21:45] diarmidmackenzie opened #760 "2 x problems observed in intersect.js algorithm"
https://github.com/tripleblindmarket/covid-safe-paths/blob/develop/app/helpers/Intersect.js

2 problems spotted when testing a Python version of the same algorithm.

// Close enough to do a detailed calculation.  Using the the Spherical Law of Cosines method.
  //    https://www.movable-type.co.uk/scripts/latlong.html
  //    https://en.wikipedia.org/wiki/Spherical_law_of_cosines
  //

  let d =

[2020-05-03 22:03] diarmidmackenzie commented on #760
OKn further reading, point 1 looks wrong.

This link is clear that the formula should be si * sin + cos * cos * cos.
https://www.movable-type.co.uk/scripts/latlong.html

I haven't really understood this (given the law of cosines has the form cos * cos + sin * sin * cos but ti think it may relate to this point in the article.

(Note that the geodetic form of the law of cosines is rearranged from th

[2020-05-03 22:14] diarmidmackenzie commented on #760
Point #2 also reproduces in Javascript with the same values for p1, p2.

There is no exception, but d is computed as NaN, when it should presumably be zero - so we will miss a match that we should get.

The folllowing code seems to fix this issue:

  let cos_d = Math.sin(p1) * Math.sin(p2) +
        Math.cos(p1) * Math.cos(p2) * Math.cos(deltaLambda);
  console.log(cos_d);

  // Rounding errors in

[2020-05-03 22:25] diarmidmackenzie commented on #760
ALso hit with p1, p2 as follows:

0.0349072063771003
0.0349072063771003

[2020-05-03 22:40] diarmidmackenzie commented on #760
FYI, my Javascript repro was using node.js 12.6.3.

I don't know if that's representative of what would be running on an Android or iPhone - I guess there is a chance that a different Javascript interpreter might give different results.

[2020-05-04 08:06] lewisPrescott707 commented on #373
I can take a look at this one? I am a QA by trade, so would be interested in looking at this one

[2020-05-04 08:45] diarmidmackenzie commented on #760
I started playing around with performance a bit here.  Since we are only measuring short distances, the curvature of the earth is irrelevant, so we could use pythagoras (with suitable conversions into metres) rather than trig.

I thought that might perform better, but it made no difference.

What did seem make a big difference was removing the "optimizations" that filter based on latitude and long

[2020-05-04 09:05] tremblerz commented on #760
Interesting observation, I agree that taking curvature into account might be overkill for a contact tracing application. @kenpugsley thoughts?

[2020-05-04 09:17] diarmidmackenzie commented on #760
We don't *need* to take curvature into account, but from all the testing I have done, the "law of cosines" calculation is the most performant.

The thing that is draggign down performance are the "simple" calculations we do to avoid the "complicated" law of cosines calculations.

Just remove all the up-front screening calculations, and go straight for the law of cosines, and that delivers the opti

[2020-05-04 09:21] ArchanaNair commented on #656
@tremblerz @NaziyaNazir  included a fix for this in android in PR #764

[2020-05-04 09:39] tremblerz commented on #760
Does that mean errors are big enough to bring the wrong solution to proximity detection task?

[2020-05-04 09:41] diarmidmackenzie commented on #760
Sorry, I wasn't very clear.  All the solutions are accurate enough.

The "performance" I am talking about is how many CPU cycles are needed to complete the calcuation.

The algorithm that uses the fewest CPU cycles appears to be "law of cosines" with no pre-screening of any kind.

[2020-05-04 09:46] tremblerz commented on #760
oh I see, my bad. And this includes euclidean distance also?

[2020-05-04 09:54] diarmidmackenzie commented on #760
Yes, I tried these lines of code.  Without even getting the adjustment of degrees to metres for latitude correct, this is about half the speed of the law of cosines computation (800 msecs for 100M vs. 400 msecs).

  lonm = Math.floor((lon2 - lon1) * 102470)
  latm = Math.floor((lat2 - lat1) * 111320)
  let dsq = lonm*lonm + latm*latm

  // closer than the "nearby" distance?
  if (dsq < nearbyDista

[2020-05-04 09:56] diarmidmackenzie commented on #760
The one thing I have not tried yet is teh "Harvesine" formula, here:
https://www.movable-type.co.uk/scripts/latlong.html

That article says that despite being more complex, it usually computes faster than "law of cosines".  I will try that too...

[2020-05-04 10:06] diarmidmackenzie commented on #760
Broadly I see the same performance between Haversine & law of consines.

But it also turns out that rewriting the pythagoras code like this gives much better performance (the additions are the "const" values)
    const lonm = (lon2 - lon1) * 102470
    const latm = (lat2 - lat1) * 111320
    const dsq = lonm*lonm + latm*latm
    if (dsq < nearbyDistancesq) return true;

Written like this, I'd say

[2020-05-04 10:21] tremblerz commented on #760
awesome, thanks for testing out all variants!
My preference would be to go with simply pythagoras you have written above. Waiting for others to chime in.
Another simplest and faster way could be to just quantize it appropriately, like 44.4219983 becomes 44.421998 and we just compare the two values. However, this one is doomed to miss the boundary case always.

[2020-05-04 10:50] diarmidmackenzie commented on #760
Pythagoras requires that you know how many metres there are in a degree of longitude your current latitude.  I can't add that in without slowing down the performance considerably.

Even with this, it performs no bettter than cosines of haversine.

Here's the data I have (msecs computation for 100M entries, with my current best attempt at Pythagoras).

J:\other\node>node scream.js
55.52804361205143

[2020-05-04 11:10] summetj commented on #373
@lewisPrescott707  - All yours. Note that a lot has happened to the codebase in the last month, so verify the issue still exists.

[2020-05-04 11:18] diarmidmackenzie commented on #760
My test code is checked in here (wasn't sure of a good place to put it in the main Safe Paths repository, but please move it there if you want).

https://github.com/diarmidmackenzie/safepathstools/tree/master/perf-test

This runs in node.js on Windows.

I'm not at all familiar with JS dev environments, so no idea how best to get this running on an Android or iOS device, but we should do so in case

[2020-05-04 11:19] summetj commented on #615
@saranyaharidas - Are you still working on this issue?

[2020-05-04 11:22] diarmidmackenzie commented on #760
Also: if we are able to do proper performance profiling, rather than just measuring elapsed execution time, that might be a good idea too!

[2020-05-04 11:43] diarmidmackenzie commented on #760
I had a worry we were re-inventing the wheel here, so I decided to see what perf we got from this: https://www.npmjs.com/package/geolocation-utils

It is 20x slower than our current algorithm, so > 40x worse than what we can now achieve.  It might be useful for checking results, though.

[2020-05-04 13:07] troach-sf commented on #691
I wanted to share a few quick findings. There should be no need to pull in a brand new library. The existing one seems sufficient with a few modifications. For Android, the library is configured to use ACCURACY_FINE location, but that alone doesn’t ensure getting an accurate coordinate. The background geolocation library pulls in an android/ios wrapper to do a lot of its internal work. Here is the

[2020-05-04 19:23] henryrossiter commented on #516
@summetj Could you please add me to the slack workspace? Alternatively, point me to the correct person to ask. Email is henry.rossiter@utexas.edu.

[2020-05-04 19:41] E3V3A commented on #760
Yeah, I have also used and tested all those formulas and "packages" and the raw trig formulas always perform better than any available package...for obvious reasons.

[2020-05-04 20:41] kenpugsley commented on #760
A lot to digest here ... great research @diarmidmackenzie.  I did some very very basic testing the last time I reworked this, but only for accuracy and only very basic work on performance.   I know from what I found at the time, the haversine formula was no faster than the law of cosines (as you noted).  Simple pythagorus has some significant errors than can come up at high/low latitudes and so I

[2020-05-04 20:52] summetj commented on #516
Hi Henry,

I will add you to Slack now, but please also fill out the volunteer intake form (where we normally add you from) so you get all of the other onboarding information as well.
https://docs.google.com/forms/d/e/1FAIpQLSdzqAxrlrxb_HqLh1KXnfPu1rse4aByS2krL1OYlN3qKChyqA/viewform

[2020-05-04 23:12] driedgrape commented on #607
The MVP doc is out-out-date compared to the current release. Please see the 1.0.1 prototype for the latest reference: https://www.figma.com/proto/aOz2hCg6agulId3mGCQIv8/Safe-Paths-Version-1.0.1?node-id=1228%3A70&viewport=-2227%2C-928%2C0.47152677178382874&scaling=scale-down.

Based on the most up-to-date specs, the expected response is "No known contact" with a green indicator.

"home_no_contact_h

[2020-05-05 02:07] #40 closed

[2020-05-05 05:50] #263 closed

[2020-05-05 06:40] eyganeshv commented on #730
I will check this issue.

[2020-05-05 07:06] jincepgeorge commented on #615
I have just looked this issue but unable reproduce. However I suspect the issue might be because the carousel and webviews are rendering at the same time. So I have added a few milliseconds delay to load the carousel and found the transition to news screen is also smoother in android and loading the news contents properly in both platforms . If this is an acceptable solution I can raise a PR.

[2020-05-05 07:16] ArchanaNair commented on #612
@summetj  You can close this as the issue is not valid as per @driedgrape

[2020-05-05 07:53] diarmidmackenzie commented on #760
Hi Ken, few quick comments:
- Ech time the test runs, it picks a random long/lat, so by running multiple times you get exposute to different regions of the globe.  Would be easy to make this a user-supplied parameter, but it actually makes little difference as far as I can tell.
- The test randomly distributed 10,000 pairs of points across a 1 degree by 1 degree (approx 100km x 100km) area.  (and

[2020-05-05 17:23] #612 closed

[2020-05-05 17:27] summetj commented on #615
I hesitate to make a change to the codebase for an issue that may not currently exist (or at least can't be reproduced)....on the other hand, a few ms delay shouldn't cause other issues (famous last words).... If you can quantify the "smoother" transition and feel it is an improvement we could certainly consider a PR.

[2020-05-05 18:01] driedgrape commented on #735
Here's the design reference file: [https://www.figma.com/file/aOz2hCg6agulId3mGCQIv8/Safe-Paths-Version-1.0.1?node-id=1243%3A3605]

For both titles on that screen:
line-height: 32px;
padding: 11px

[2020-05-05 18:07] summetj commented on #735
FYI @driedgrape  - That file/link does not appear to have global view permissions

[2020-05-06 09:52] Shabanisimo commented on #50
The bug is fixed.

[2020-05-06 11:30] #50 closed

[2020-05-06 11:32] kuzahaha commented on #674
Do you have any progress?I can help you with this issue if u need

[2020-05-06 12:38] ten-sis commented on #278
@aartiverma1 , could you please clarify what were you checking that indicated about locations not being logged in?
Also, wanted to share that [the library we are using for location](https://github.com/mauron85/react-native-background-geolocation) has stationaryRadius set to 5 (meters) before it starts logging location. So, it might require the phone to change location before it starts logging

[2020-05-06 12:48] jaredsnider opened #772 "iOS location access cannot be toggled in-app"
## Version
1.0.1

## Affected Devices
Apple | iPhone 11 Pro | iOS 13.4.1

## Affected Languages
English

## Steps to reproduce
1. Progress through onboardingflow to Location Access section
2. Click "Enable Location Access"
3. Click "Don't Allow"
4. Finish Setup
5. Go to "Dashboard" from "Home"
6. You will see "Location Inactive"
7. Tap "Location Inactive" in Red
8. UI will show "Location Active" i

[2020-05-06 15:17] denispapakul commented on #772
I can look into this issue. For Android we have similar issue: if we don't allow tracking location in settings - we can't change it from the app side.

[2020-05-06 17:41] digs1998 commented on #70
Is it about collecting datasets?

[2020-05-06 18:36] summetj commented on #70
@digs1998  - The Android version of the app had the ability to download google location history data, so that a new user could import location history data from before they installed the application. (this feature was complicated to use, and has been omitted from the currently released versions of the app).

[2020-05-06 18:57] #633 closed

[2020-05-07 00:44] jaredsnider commented on #772
Thanks @denispapakul ! Here is a little prototype of how I would have expected it to work on iOS (would imagine something similar for Android)... not sure whats possible or not so take the flow with a grain of salt (also has some design differences compared to the 1.0.1 release so please just ignore those).

https://www.figma.com/proto/79OwaKqHvSeriExpYzAvVN/PATHS-Exploration-April-and-May-2020?no

[2020-05-07 01:11] jaredsnider commented on #772
Just was checking the app again and (for some reason) it actual did behave as I expected (illustrated in the prototype I posted) - I received an OS prompt by clicking the “enable location” button as well as “location inactive”... but after clicking “don’t allow” it reverted to the behavior I originally describe in the ticket.

[2020-05-07 03:08] skusunam commented on #733
@summetj I just tested this on Android 9 and it works fine. As you know "Latest News" page is displaying from this URL: [https://covidsafepaths.org/in-app-news](https://covidsafepaths.org/in-app-new)s and when there is a problem in displaying this page or any broken links on this page will cause this kind of defects. Currently, this page is partially broken and displaying "404 Not Found".

[2020-05-07 09:03] digs1998 commented on #70
@summetj won't this be a privacy issue for the users?

[2020-05-07 10:13] denispapakul commented on #278
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47609057/81282820-60992500-9064-11ea-8a1c-edc785b2d366.gif)
Actually I set track location every second and I see that issue is not reproduced, cuz it's work after @aartiverma1 's steps

[2020-05-07 11:26] summetj commented on #70
The user must choose to download their Google Location History (if they have not previously disabled it from Google's privacy dashboard). So any user who does not want to do this simply does not push the button, log in to google, etc....

This is a feature that allows users to have MORE location history than the app would be able to track (past history before app install). Presumably if a user ins

[2020-05-07 11:34] summetj commented on #733
I have notified the website team to get this fixed.

[2020-05-07 13:17] lewisPrescott707 commented on #373
Been looking at this for a little while now and can't find the issue. Running `--detectOpenHandles` doesn't return anything.

Found this, could we add `--forceExit` like suggested?

[Jest Issue](https://github.com/facebook/jest/issues/1456#issuecomment-609367298)

[2020-05-07 17:59] #735 closed

[2020-05-07 18:22] #602 closed

[2020-05-07 19:58] summetj commented on #733
We have fixed the 404 error by creating a 301 redirect on the website to move the old link to the correct link. (Also, the link will be updated in the next version of the app.)

[2020-05-07 19:58] #733 closed

[2020-05-07 20:06] tstirrat commented on #373
I'd prefer not to add a "hammer" solution.. vs trying to identify/mock each dependency and use `jest.useFakeTimers()` etc.

Note that since #749 we care more about tests working in [Main.js](https://github.com/Path-Check/covid-safe-paths/blob/develop/app/views/Main.js) and the sub components in [main/*](https://github.com/Path-Check/covid-safe-paths/tree/develop/app/views/main), as LocationTrackin

[2020-05-07 20:08] tstirrat commented on #373
@lewisPrescott707 could you add some tests around the components in [main/*](https://github.com/Path-Check/covid-safe-paths/tree/develop/app/views/main) and see if this issue still shows?

the recent component separation may help us isolate the problem to a specific view and dependency.

[2020-05-07 20:09] tstirrat commented on #373
If the warning doesn't show anymore, we can commit those tests and close this

[2020-05-08 00:26] penrods commented on #70
Asking for data that was collected about me is not a privacy issue.  That data was already collected -- the question of privacy has been answered before we existed.  Once it is back in my hands, it is back in my control and any further sharing is in my hands -- just like with data collected by a GPS.

So no, I don't see that this is a privacy issue at all.

[2020-05-08 00:49] digs1998 commented on #70
Ohh okay

On Fri 8 May, 2020, 05:56 Steve Penrod, <notifications@github.com> wrote:

[2020-05-08 13:30] arvind-source commented on #72
I have tested the logging issue on below device and version it is working fine without making any changes in code:

Android:
Android version - 9 on Samsung J7
Android version - 6 on Moto E5

iPhone:
iPhone 7
iPhone8
iPhone 11

[2020-05-08 15:36] AdamLeonSmith commented on #759
I disagree this is low priority as it is a privacy issue, and we are supposed to be privacy focussed.  If we plan to use this in the future, that's fine, we can document it.  If we don't, it is an easy fix to remove, I would be willing to submit a PR for.  Can anyone comment on this?

[2020-05-08 17:56] Ferrumofomega commented on #759
It is important to address from a privacy perspective @AdamLeonSmith. Would you mind submitting a PR for this change?

[2020-05-08 18:09] summetj commented on #611
Per UI/UX channel on slack, the app should have 3 screens here (not sure if the MVP document is now out of date, but all the UI/UX people are using Figma and say that 3 screens is correct w.r.t. that.

[2020-05-08 18:09] #611 closed

[2020-05-08 19:07] pauladam316 commented on #739
You can assign this to me and I'll have a look at it

[2020-05-08 22:58] summetj commented on #72
I plan to close this issue unless somebody else finds that it is not working on some other platform?

[2020-05-09 02:37] pauladam316 commented on #739
So I had a look into this issue and it ended up being a bit more complicated than I expected. The short version is that we can’t change that justification because we’re not generating the redirect notice. I did some digging trying to understand where those are coming from and it seems like the links in the EULA are actually google redirect links. For the life of me I can’t figure out why it was do

[2020-05-09 03:12] Patrick-Erichsen commented on #739
Yeah, all of that sounds like a good call to me. Not sure about the Google redirect links either to be honest.

[2020-05-09 12:40] lewisPrescott707 commented on #373
Found the specific dependency causing the leak, adding tests for main/ helped me isolate it!! Thanks @tstirrat

[2020-05-09 13:45] summetj commented on #373
Great work, thanks!

[2020-05-09 14:53] PMKielstra opened #786 ""Choose Health Authority": misleading title?"
I'm aware of #457 and #683 but this seems to me a bit like its own thing -- if you disagree, please feel free to merge this into either of them.

"Choose Health Authority" implies that you're supposed to pick exactly one from a list.  Although this is how most users would, I imagine, use the app, it's not the limit of functionality: we support having multiple health authorities at once, or at leas

[2020-05-09 14:54] PMKielstra commented on #786
I'm not the only one with this problem, by the way -- I got tipped off to this by someone from Implementation asking me to explain what the deal was with "Choose Health Authority" and whether he was supposed to choose just one or what.

[2020-05-09 16:15] #373 closed

[2020-05-09 19:39] driedgrape commented on #786
Great input @PMKielstra. The UIUX is in the process of refining strings.

[2020-05-09 22:31] tstirrat commented on #527
Closed with #788 ( = #747)

[2020-05-09 22:31] #527 closed

[2020-05-10 04:22] tstirrat commented on #608
This was fixed in the location refactor #749

[2020-05-10 05:01] tstirrat commented on #685
Issue 1 fixed in #749

Issue 2 tracked in #656

[2020-05-10 05:01] #685 closed

[2020-05-10 18:22] summetj commented on #475
@diarmidmackenzie  - Is this still an issue or has it been fixed already?

[2020-05-10 19:01] tstirrat commented on #656
I could not get this to reproduce on iOS or Android anymore. I believe it was fixed in #749

[2020-05-10 19:01] #656 closed

[2020-05-11 01:18] Namit-Agrawal commented on #737
Hello! I would like to tackle this issue.

[2020-05-11 05:28] ArchanaNair commented on #656
Yes the issue is fixed in android also.

[2020-05-11 07:27] diarmidmackenzie commented on #475
This is still happening, even in the latest v1.1 debug builds.

[2020-05-11 08:40] denispapakul commented on #278
Actually, for me it's work fine. I set the delay for geo-tracking as 1 second for better the test experience.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47609057/81541577-fa6e1400-937b-11ea-949a-cbf9f5d324ef.gif)

[2020-05-11 08:47] denispapakul commented on #278
Actually, for me, it's working fine. I set the delay for geo-tracking as 1 second for better the test experience.

![Screen-Recording-2020-05-06-at-5](https://user-images.githubusercontent.com/47609057/81542289-13c39000-937d-11ea-9888-aa8cc30478e5.gif)

[2020-05-11 10:22] summetj commented on #737
Thanks @Namit-Agrawal ! BTW- are you on our Slack? (I couldn't find you using your github name....) We have an #app_dev channel that would be good to get you connected with as well as a lot of documentation. If you fill out our volunteer onboarding form I'll send you all the details.
https://docs.google.com/forms/d/e/1FAIpQLSdzqAxrlrxb_HqLh1KXnfPu1rse4aByS2krL1OYlN3qKChyqA/viewform

[2020-05-11 10:53] summetj commented on #278
@talha7o , @aartiverma1  Can you provide more details about how to replicate this to show the bug?  (Or should I close the issue? There has been a lot of refactoring of the GPS logging codebase, and one of those might have fixed this issue....)

[2020-05-11 10:57] talha7o commented on #278
This bug was reported in older version. App has matured alot and UI is all new now. Don't think reported bug is still valid now.

[2020-05-11 11:00] summetj commented on #278
Cool, thanks for the confirmation, I'll close it out!

[2020-05-11 11:00] #278 closed

[2020-05-11 13:04] henryrossiter commented on #516
After examining the data that my phone logs, I think this might be futile. The intervals are not uniform, so even if two phones start geolocation logging at the exact same time, they will likely won't be synchronized after just a few intervals.

I set ```this.locationInterval = 6000 * 3```, meaning we want geolocation every 3 minutes. However, the actual data points recorded show there's anywhere

[2020-05-11 14:41] summetj commented on #516
@diarmidmackenzie - Unless the cadence issue can be fixed, it looks like setting things to an absolute time won't work.  I'm considering closing this issue, have you seen any potential improvements on the cadence front?

[2020-05-11 17:59] troach-sf opened #797 "App no longer tracking locations in debug environment"
## Version
- Debug build version: develop

## Affected Devices
- All

## Affected Languages
- All

## Steps to reproduce

A recent refactor moved from the home screen being LocationTracking.js to Main.js. The Main.js screen never calls LocationService.start() so location tracking will never begin.

Another issue is that the code to migrate to our encrypted db is missing on Main.js.

[code]

## Exp

[2020-05-11 18:03] tstirrat commented on #797
That extra code should go in a service. not a view. it's important logic.

[2020-05-11 18:07] troach-sf commented on #797
Sure, a service is definitely the best places. This code will hopefully be very temporary and can be moved entirely after majority of users have the encrypted build for 14 days

[2020-05-11 18:12] tstirrat commented on #797
Sure, we can make it run once once per session and remove it after 15 days.

[2020-05-11 19:27] Namit-Agrawal commented on #737
Hi Jay,
I do have a slack account! Would love to get connected. I have filled out
the form below.

Best Regards,
Namit Agrawal

On Mon, May 11, 2020 at 5:23 AM Jay S. <notifications@github.com> wrote:

[2020-05-12 02:18] summetj commented on #737
Hi @Namit-Agrawal I've added you to our slack space and the #app_dev channel.

[2020-05-12 17:07] tstirrat commented on #72
Fixed in #747 #788

[2020-05-12 17:07] #72 closed

[2020-05-12 19:41] tremblerz opened #806 "[FEATURE-REQ]: geo-hashing and SHA256"
Right now we obtain GPS data in raw (latitude, longitude) and store it in the encrypted format (Not sure if PR is merged). Another thing we want to add in this storage is the storage of Geohash of the raw data in **7 bit** precision (which is equivalent of the 76m accuracy). For the first pass let's only store one geohash and in subsequent PR we will be storing geohash of the corners or edges of t

[2020-05-12 19:53] tremblerz opened #807 "[FEATURE-REQ] SHA256 of geohashes in the intersection code"
## Issue type

This builds on top of #806. This is going to be a change that we need to apply to the intersect logic. See the old PR for reference - [relevant file diff from the PR](https://github.com/Path-Check/covid-safe-paths/pull/248/files#diff-1980a789ee94a1b6e356aeeccc4f87aa)
When we load the location data from the Asyncstorage, instead of reading the raw data, we need to read from Geohashes

[2020-05-13 01:08] #797 closed

[2020-05-13 20:24] diarmidmackenzie commented on #807
My view is that these should use a slow hash algorithm, and scrypt is my favoured approach for various reasons detailed here:

https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/61112371/Design+for+MVP1+HA+JSON+Changes

[2020-05-13 20:34] summetj commented on #807
@tremblerz  - If I'm reading your issue description correctly, #806 is the first step in this process that can be done independently, and this can be added only after #806 is finished. Did I understand that correctly?

[2020-05-14 08:12] sparks2209 commented on #742
Please assign it to me

[2020-05-14 11:44] summetj commented on #742
Thanks for looking into this @sparks2209  - Note that there is some confusion in the issue description with the phone type (android listed up top, but iPhone and iOS version numbers below), so be sure to test this with both the android and iPhone emulators. [It was also raised two weeks ago, so could possibly have already been fixed by unrelated work, so make sure you use the latest development br

[2020-05-14 12:57] diarmidmackenzie commented on #806
I am now quite strongly against 7 char precision, and think it needs to be 8 char (even though 8 char precision depends on GPS accuracy in Safe Paths that we have not achieved yet - see SAF-175).

A 7 char geohash in an urban center will cover a dozen or more businesses.  See illustrations in here:
https://pathcheck.atlassian.net/wiki/spaces/TEST/pages/61145553/Moving+Safe+Paths+Safe+Places+to+use

[2020-05-14 18:22] shrix opened #832 "Change standard home indicator colors"
Currently we have two colors reflecting the infection status of a user on their app:
 - Green indicating that a user is fine, and has no infection detected by the system
 - Orange indicating that a user encountered someone w/ an infection, and probably could be infected too

An important aspect here is about the "conditions" under which these status change:
 - from green to orange
 - from orange t

[2020-05-14 20:55] lewisPrescott707 commented on #589
I can have a look at this tomorrow

[2020-05-15 05:05] sparks2209 commented on #742
Can you please add me to slack channel

On Thu, May 14, 2020 at 5:15 PM Jay S. <notifications@github.com> wrote:

--
Thanks,
Shabana Begum

[2020-05-15 12:12] summetj commented on #742
PM'd on Slack!

[2020-05-15 13:41] sparks2209 commented on #742
Here is the analysis of this bug

iPhone 5s device width is of 320, in app in News.js file for Carousel we are specifying itemWidth as width * 0.85 , which is less than actual size. In this case itemWidth size is coming as 272 and icon is not visible on the screen.

PFA for reference
<img width="443" alt="Screenshot 2020-05-15 at 10 52 05 AM" src="https://user-images.githubusercontent.com/46887319

[2020-05-15 23:56] #674 closed

[2020-05-16 23:09] Namit-Agrawal opened #845 "WebView not resizing the content to fit width of the screen in the FAQ page"
## Steps to reproduce

Open the App
Open Hamburger menu
Tap "Latest News" to navigate to SafePath News screen
Tap on Hamburger Menu against COVID SafePaths
Tap on FAQ

## Expected Behavior
The FAQ page should display the hamburger menu without scrolling horizontally and wrap all the content to fit the container width.

[2020-05-17 11:50] diarmidmackenzie commented on #806
For anyone who wants to work on tis please see Jira SAF-268 for a proposed alternate plan of attack.

Same basic outcome, but proposing different sequencing to ensure Safe Paths & Safe Places retain compatibility as much as possible during this change.

[2020-05-17 11:50] diarmidmackenzie commented on #807
For anyone who wants to work on tis please see Jira SAF-268 for a proposed alternate plan of attack.

Same basic outcome, but proposing different sequencing to ensure Safe Paths & Safe Places retain compatibility as much as possible during this change.

[2020-05-18 06:20] ShreyaaSahu commented on #845
Tested the latest release v1.0.65 in ( iOS 13.3 ,  Model iPhone XR )  ,It is working fine .

![IMG-4939](https://user-images.githubusercontent.com/64080646/82180195-b3dd6400-98fd-11ea-996b-759f171b9329.PNG)

[2020-05-18 07:24] sparks2209 commented on #742
The web url https://covidsafepaths.org/blog/ is not working in iOS Native app and even on safari simulator, i started looking into html page, i could see <svg width="320" height="48" viewBox="0 0 320 48" fill="none" xmlns="http://www.w3.org/2000/svg"> causing issue of menu icon not visible and js-reveal animation causing content to not display.

Changing <svg width="100%" height="48" viewBox="0 0

[2020-05-18 08:36] sparks2209 commented on #742
The same issue exist in android

https://github.com/Path-Check/covid-safe-paths/issues/738

[2020-05-18 15:35] summetj commented on #742
Hi @sparks2209, I believe this is a separate issue (different from the hamburger icon bug) and is with the website, not the mobile app.  I have reached out to Angelique W. Lee on Slack (website lead) to let her know of the issue and she said that you have already reached out to her and are working on the issue.

[2020-05-18 21:12] Patrick-Erichsen commented on #845
@Namit-Agrawal  could you post screenshots and specs for the emulator that you confirmed this issue on?

[2020-05-19 01:32] satsfy opened #859 "[BUG] Problem when starting up the app on an AVD"
## Issue type

Running project for development.

## Version
- Release build version: 1.0.0

## Affected Devices

| Brand        |  Model        | OS  |
| ------------ |:-------------:| ----:|
| Canonical | Ubuntu | 16.04 |
| Microsoft | Windows | 10 |

## Steps to reproduce

1. Clone the repository on Ubuntu 16.04.
2. Run `./dev_setup.sh` and follow it's instructions carefully.
3. Start React Nati

[2020-05-19 02:58] Namit-Agrawal commented on #845
Pixel 3 XL emulator (Android 9)
Located in FAQ page

![pixel3XL](https://user-images.githubusercontent.com/43054656/82279519-617a6280-9952-11ea-82a0-27d1153c0ac8.gif)

[2020-05-19 08:08] eyganeshv commented on #845
I am able reproduce this issue with an iPhone SE simulator iOS 13.2.2.  @Patrick-Erichsen Could you check in iPhone se simulator and confirm?

[2020-05-20 13:36] eyganeshv commented on #845
I will check with this issue.

[2020-05-20 14:17] bananateg commented on #859
You need to use yarn run-android

[2020-05-21 01:12] Patrick-Erichsen commented on #845
Hey @eyganeshv - appreciate the enthusiasm, but I would hold off on this one. I think the UX team is going to work on a larger overhaul for this screen that will encompass this issue.

Once that is done I think Namit was going to take ownership for the implementation.

[2020-05-21 06:40] NaziyaNazir commented on #738
Retested and verified the fix. PFB the screenshot.

Version
Type of phone: Realme
OS Version: Android 9
Model: U1

![Screenshot_2020-05-21-12-02-08-43_7279f4f2abc8c6febb8fd1ee45579eaa](https://user-images.githubusercontent.com/64524151/82530886-edaba600-9b5b-11ea-8abe-9dcd442e474b.png)

[2020-05-21 06:59] Niniya173 commented on #742
Bug is fixed in iPhone 5s, OS version - 11.2.6

[2020-05-21 07:02] sparks2209 commented on #742
@summetj With the latest update from Angelique W. Lee team, this issue is resolved, we can close this bug.

[2020-05-21 07:02] sparks2209 commented on #738
@summetj With the latest update from Angelique W. Lee (Web team), this issue is resolved, we can close this bug.

[2020-05-21 09:09] sparks2209 commented on #717
Please assign this to me

[2020-05-21 10:25] PMKielstra opened #882 "Expanding circles on main screen not always properly centered"
## Issue type
UI

## Version
- Release build version: 1.0.65

## Affected Devices

| Brand        |  Model        | OS  |
| ------------ |:-------------:| ----:|
|OnePlus|OnePlus 6|Android 10 (v29)|

## Steps to reproduce
Do a clean install of Safe Paths.  Do not set up a health authority or enable location.  Close and reopen the app.  It should give the standard "You need to enable location" mess

[2020-05-21 12:02] sparks2209 commented on #717
We have four kind of cases for location permission
    UNAVAILABLE,
    DENIED,
    BLOCKED,
    GRANTED
and 3 states for location permission(UNKNOWN, Granted, Blocked).

In app we are managing only two cases with 2 states(Granted and Blocked), we have a state called UNKNOWN which is not managed in app.

In this specific scenario we have UNAVAILABLE case from location permission, i would like to a

[2020-05-21 23:15] tstirrat commented on #353
We've done plenty of cleanup on `develop`

[2020-05-21 23:15] #353 closed

[2020-05-21 23:24] tstirrat commented on #442
This has been fixed in 1.0.x

[2020-05-21 23:24] #442 closed

[2020-05-21 23:27] #739 closed

[2020-05-21 23:31] tstirrat commented on #832
We're tracking this in Jira: https://pathcheck.atlassian.net/browse/SAF-256

[2020-05-21 23:31] #832 closed

[2020-05-21 23:32] summetj commented on #717
Suggest you ask in #app_dev for expected behavior.

[2020-05-21 23:35] Patrick-Erichsen commented on #786
Thanks for the feedback @PMKielstra ! We're going to close this issue as we've taken the feedback and are considering the new wording.

[2020-05-21 23:35] #786 closed

[2020-05-21 23:42] tstirrat commented on #806
https://pathcheck.atlassian.net/browse/SAF-268
https://pathcheck.atlassian.net/browse/SAF-269

[2020-05-21 23:43] #19 closed

[2020-05-21 23:45] tstirrat commented on #91
We're looking into GPS accuracy and efficiency, including battery usage: https://pathcheck.atlassian.net/browse/SAF-175

[2020-05-21 23:45] #91 closed

[2020-05-21 23:47] #110 closed

[2020-05-21 23:52] Patrick-Erichsen commented on #88
Jira link - https://pathcheck.atlassian.net/browse/SAF-282

[2020-05-21 23:56] #88 closed

[2020-05-22 00:00] tstirrat commented on #335
We're looking into GPS accuracy etc: https://pathcheck.atlassian.net/browse/SAF-175

[2020-05-22 00:34] tstirrat commented on #113
Closing, not able to reproduce on a 8.1 emulator. Reopen with device specifics if you can reproduce.

[2020-05-22 00:34] #113 closed

[2020-05-22 01:20] yonatanmk commented on #807
To clarify, we're going to hash the concatenation of the geohash and timestamp using Scrypt, not SHA256

[2020-05-22 01:54] #738 closed

[2020-05-22 01:54] #742 closed

[2020-05-22 02:07] tstirrat commented on #325
Scaling work is in progress and tracked by https://pathcheck.atlassian.net/browse/SAF-166

[2020-05-22 02:07] #325 closed

[2020-05-22 10:13] sparks2209 opened #890 "Onboarding Screen for location permission is flickering on iOS"
Issue with latest develop branch, after cloning branch Onboarding screen which is asking for location and notification permission getting flicker after allowing notification

Tested on iPhone 5s simulator, iOS 11.2

## Steps to reproduce
Launch the app and go to Onboarding screen for permission screen, UI is flickering after allwoing notification popup.
![Simulator Screen Shot - iPhone 5s - 2020-0

[2020-05-22 10:14] sparks2209 commented on #890
@summetj whom i can reach out for this issue, latest changes in Onboarding file caused this issue.

[2020-05-22 10:33] johnschoeman commented on #890
Thanks for creating an issue! We've been updating this screen for the bluetooth release and have also noticed the bug that was introduced. so we are probably in a good position to address it.  cc: @tparesi , @mattThousand

[2020-05-22 10:36] johnschoeman commented on #859
Looks like this has been addressed. Note for future readers as of the time of this comment the commands are:
[code]

[2020-05-22 10:36] #859 closed, assigned to nobody

[2020-05-22 11:09] sparks2209 commented on #890
Thank you , two small observations Location and  Bluetooth permissions assigned with nextStep instead of PermissionStatus
 setLocationPermission(nextStep); --- 151
 setBluetoothPermission(nextStep); -- line number 186

[2020-05-22 16:20] johnschoeman commented on #890
resolved in: https://github.com/Path-Check/covid-safe-paths/pull/891, cc: @sparks2209

[2020-05-22 16:20] #890 closed, assigned to nobody

[2020-05-22 17:01] Patrick-Erichsen commented on #157
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:01] #157 closed

[2020-05-22 17:07] Patrick-Erichsen commented on #324
@tstirrat think this one can be closed?

[2020-05-22 17:12] Patrick-Erichsen commented on #306
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:12] #306 closed

[2020-05-22 17:13] Patrick-Erichsen commented on #304
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:13] #304 closed

[2020-05-22 17:14] Patrick-Erichsen commented on #302
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:14] #302 closed

[2020-05-22 17:15] Patrick-Erichsen commented on #300
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:15] #300 closed

[2020-05-22 17:18] Patrick-Erichsen commented on #285
@tstirrat Think we can close this one? I believe the work is in-progress on Jira to improve the overall app performance by reducing payload sizes from HAs.

[2020-05-22 17:21] Patrick-Erichsen commented on #262
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:21] #262 closed

[2020-05-22 17:26] Patrick-Erichsen commented on #261
Closing as this language string has been removed.

[2020-05-22 17:26] #261 closed

[2020-05-22 17:26] Patrick-Erichsen commented on #252
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:26] #252 closed

[2020-05-22 17:27] Patrick-Erichsen commented on #232
@diarmidmackenzie I believe this one should be good to close, as we have some more up-to-date security audits?

[2020-05-22 17:29] Patrick-Erichsen commented on #228
Closing this issue as we have work in-flight to address location logging issues on reboot.

[2020-05-22 17:29] #228 closed

[2020-05-22 17:29] Patrick-Erichsen commented on #218
Closing this as we are now using Lokalise.

[2020-05-22 17:29] #218 closed

[2020-05-22 17:30] Patrick-Erichsen commented on #195
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:30] #195 closed

[2020-05-22 17:31] Patrick-Erichsen commented on #181
Closing this as we have work in-flight to patch our geolocation library with a fix for this issue.

[2020-05-22 17:31] #181 closed

[2020-05-22 17:33] Patrick-Erichsen commented on #333
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:33] #333 closed

[2020-05-22 17:35] Patrick-Erichsen commented on #335
Closing as per Tim's comment - we have ongoing work in-flight to improve our location tracking reliability and accuracy for both Android and iOS.

[2020-05-22 17:35] #335 closed

[2020-05-22 17:36] Patrick-Erichsen commented on #337
Closing as this PR is unrelated to Safe Paths. The screenshots above are from Private Kit.

[2020-05-22 17:36] #337 closed

[2020-05-22 17:36] Patrick-Erichsen commented on #357
Closing as we are now using Lokalise.

[2020-05-22 17:36] #357 closed

[2020-05-22 17:37] Patrick-Erichsen commented on #391
Closing as the UI navigation has been refactored since the time of this issue.

[2020-05-22 17:37] #391 closed

[2020-05-22 17:37] Patrick-Erichsen commented on #398
@diarmidmackenzie think we can close this out?

[2020-05-22 17:38] Patrick-Erichsen commented on #400
@tstirrat  think we can close this out?

[2020-05-22 17:39] Patrick-Erichsen commented on #403
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:39] #403 closed

[2020-05-22 17:40] Patrick-Erichsen commented on #430
@diarmidmackenzie I think we can close this out. Thoughts?

[2020-05-22 17:43] Patrick-Erichsen commented on #448
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:43] #448 closed

[2020-05-22 17:44] #449 closed

[2020-05-22 17:44] Patrick-Erichsen commented on #453
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:44] #453 closed

[2020-05-22 17:45] Patrick-Erichsen commented on #454
Closing this issue out as we have work in-flight to improve both the reliability and accuracy of our location tracking.

[2020-05-22 17:45] #454 closed

[2020-05-22 17:45] Patrick-Erichsen commented on #455
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:45] #455 closed

[2020-05-22 17:45] #456 closed

[2020-05-22 17:46] Patrick-Erichsen commented on #457
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:46] #457 closed

[2020-05-22 17:46] Patrick-Erichsen commented on #469
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:46] #469 closed

[2020-05-22 17:46] Patrick-Erichsen commented on #473
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:46] #473 closed

[2020-05-22 17:47] Patrick-Erichsen commented on #474
Closing this as we are now using Lokalise.

[2020-05-22 17:47] #474 closed

[2020-05-22 17:47] Patrick-Erichsen commented on #475
Yup - this is still a good first issue!

[2020-05-22 17:49] Patrick-Erichsen commented on #489
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:49] #489 closed

[2020-05-22 17:49] Patrick-Erichsen commented on #509
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 17:49] #509 closed

[2020-05-22 17:50] Patrick-Erichsen commented on #516
@diarmidmackenzie can we close this out?

[2020-05-22 18:02] Patrick-Erichsen commented on #760
@diarmidmackenzie can we close this issue out as we are tracking internally?

[2020-05-22 18:03] Patrick-Erichsen commented on #740
Closing as this has been resolved.

[2020-05-22 18:03] #740 closed

[2020-05-22 18:04] Patrick-Erichsen commented on #737
Closing as this is being addressed in a larger UI/UX refactoring.

[2020-05-22 18:04] #737 closed

[2020-05-22 18:05] Patrick-Erichsen commented on #736
Closing as this is being addressed in a larger UI/UX refactor of the news screen.

[2020-05-22 18:05] #736 closed

[2020-05-22 18:07] Patrick-Erichsen commented on #734
@skusunam any progress on this? Here is a screenshot of the issue for anyone interested:

<img width="388" alt="Screen Shot 2020-05-22 at 1 07 55 PM" src="https://user-images.githubusercontent.com/20157849/82696756-439c4e80-9c2d-11ea-9153-ad16367cba16.png">

[2020-05-22 18:14] Patrick-Erichsen commented on #691
Closing as we have ongoing work in-flight to improve both the reliability and accuracy of our location tracking.

[2020-05-22 18:14] #691 closed

[2020-05-22 18:14] #683 closed

[2020-05-22 18:14] Patrick-Erichsen commented on #676
Closing as these strings have been updated.

[2020-05-22 18:14] #676 closed

[2020-05-22 18:15] Patrick-Erichsen commented on #620
Closing as we have UI/UX work in flight to refactor this screen.

[2020-05-22 18:15] #620 closed

[2020-05-22 18:15] Patrick-Erichsen commented on #618
Closing as we have UI/UX work in flight to refactor this screen.

[2020-05-22 18:15] #618 closed

[2020-05-22 18:15] Patrick-Erichsen commented on #615
Closing as we have work in-flight to refactor the News screen.

[2020-05-22 18:15] #615 closed

[2020-05-22 18:16] #603 closed

[2020-05-22 18:17] Patrick-Erichsen commented on #589
@lewisPrescott707 any progress here?

[2020-05-22 18:17] #588 closed

[2020-05-22 18:17] #564 closed

[2020-05-22 18:17] Patrick-Erichsen commented on #563
Closing this issue out as we have taken it into consideration and documented the feedback on [this page in Jira](https://pathcheck.atlassian.net/wiki/spaces/SAFE/pages/81265028/GitHub+Issues+-+Community+Feature+Requests).

[2020-05-22 18:17] #563 closed

[2020-05-22 18:23] lewisP707 commented on #589
Not yet I'm afraid, as not had time.
Looks like timezone is not supported by dayjs which makes mocking tricky.
Will take another look at the weekend

[2020-05-25 09:50] lewisP707 commented on #589
@kenpugsley @Patrick-Erichsen sorry I don't really have the knowledge of the Intersect.js to be able to create the data for the tests. So I have created a PR to demonstrate how to mock the timezones with dayjs. [PR-906](https://github.com/Path-Check/covid-safe-paths/pull/906)

[2020-05-26 05:49] sparks2209 opened #911 "Enabling location permission is missing during Onboard and Setting screen."
From latest upstream develop changes, screen for permissions is not appearing during on board.

![Simulator Screen Shot - iPhone 11 - 2020-05-26 at 11 19 22](https://user-images.githubusercontent.com/46887319/82864880-2de79b80-9f43-11ea-9e91-ea20f3418914.png)
![Simulator Screen Shot - iPhone 11 - 2020-05-26 at 11 19 39](https://user-images.githubusercontent.com/46887319/82864887-317b2280-9f43-11ea

[2020-05-26 06:17] sparks2209 commented on #717
Couldn't resolve this issue due to blockers
https://github.com/Path-Check/covid-safe-paths/issues/890
https://github.com/Path-Check/covid-safe-paths/issues/911

Once above issues are resolved, i can commit changes to Onboadring5 file to resolve this issue.

[2020-05-26 08:58] sparks2209 commented on #727
Please assign this to me

[2020-05-27 01:17] Patrick-Erichsen commented on #911
@sparks2209 It looks like you built the Bluetooth version of the app - this is a relatively recent implementation.

Can you comment on what command you used to build the app?

In the meantime, try `yarn run-android-gps` or `yarn run-ios-gps` to build the GPS app.

[2020-05-27 06:42] sparks2209 commented on #911
i used react-native run-android and react-native run-ios
yarn run-android-gps or yarn run-ios-gps helped me build app.

[2020-05-27 06:42] #911 closed, assigned to nobody

[2020-05-27 15:59] diarmidmackenzie commented on #430
Hi - just saw this update.

Even if the "add authority by URL" function won't be used much in the field, it's useful in test and it very hard to use due to the flaws above.

All the following would be very valueable:

- Enforce correct URL form. Ideally accept various capitalizations of http / https, but at the very least don't permit ones that don't work.

- Give clear error handling in the event

[2020-05-28 06:51] sparks2209 commented on #727
This issue is not happening in latest PathCheck GPS target.
Sharing few of the observations while profiling app.

App is consuming 67MB before launching.
<img width="1680" alt="Screenshot 2020-05-28 at 11 49 16 AM" src="https://user-images.githubusercontent.com/46887319/83108243-1d6b2880-a0dd-11ea-8bc0-c16ad0d306b8.png">

Other parts of app which consuming memory as below.
<img width="1680" alt="S

[2020-05-28 07:10] sparks2209 commented on #433
Please assign this to me.
 While looking into issue https://github.com/Path-Check/covid-safe-paths/issues/727 , i have taken CPU and memory utilisation readings.

[2020-05-28 12:30] troach-sf commented on #727
As noted above, the lockup issue was specific to being called with PushNotification.configure() on the home screen. That call may have been removed, which would have fixed the issue.

[2020-05-28 16:23] summetj commented on #727
Ok, I'm going to close out this issue, thanks @sparks2209 for confirming it is no longer an issue.